$base-color: #0da7e6;
$color-error: #ff9898;

* {

}
input{
  cursor: pointer;
}
input[type=file] {
  &::-webkit-file-upload-button {
    visibility: hidden;
  }
  width: 100%;
  &::before {
    content: 'Select some files';
    display: inline-block;
    //background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid rgb(203, 213, 224);
    border-radius: 0.25rem;
    padding: 5px 8px;
    //outline: none;
    //white-space: nowrap;
    //-webkit-user-select: none;
    //cursor: pointer;
    //text-shadow: 1px 1px #fff;
    font-weight: 600;
    font-size: 10pt;
    //width: 100%;
    //color: rgba(45,55,72,var(--text-opacity));
  }

  //&:hover::before {
  //  border-color: black;
  //}

  //&:active::before {
  //  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  //}
}

.landing {
  a {
    color: $base-color;
    font-weight: bold;
  }

  ul {
    li {

    }
  }
}

.intro {
  h1 {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 2px;
  }

  p {
    margin: 10px 0 10px 0;
  }

  ul {
    li {
      list-style-type: disc;
      list-style-position: inside;

      li {
        list-style-type: circle;
        list-style-position: inside;
      }
    }
  }
}

body {
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  font-size: 10pt;

  header.header {
    //position: fixed;
    background-color: white;
    width: 100%;
    z-index: 900;
    //margin-bottom: 30px;
  }
}

.btn {

}

.alert-message {
  background-color: $color-error;
}

span.required {
  color: #c90a0a;
}

ul.errorlist {
  li {
    background-color: $color-error;
    color: black !important;
    padding: 2px !important;
  }
}

fieldset label {
  cursor: pointer;
}

ul.errorlist {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    color: #c90a0a;
  }
}


.submit-row {
  .btn {
    &.save {
    }
  }
}
