$base-color: #0da7e6;
$color-error: #ff9898;

* {

}
//<h1 class="text-xl my-2"
// <ul class="list-disc">
.intro{
  h1 {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 2px;
  }
  ul{
    li{
      list-style-type: disc;
      list-style-position: outside;
      li{
        list-style-type: circle;
        list-style-position: inside;
      }
    }
  }
}

body {
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  font-size: 10pt;

  header.header {
    //position: fixed;
    background-color: white;
    width: 100%;
    z-index: 900;
    //margin-bottom: 30px;
  }
}

.btn {

}

.alert-message {
  background-color: $color-error;
}

span.required {
  color: #c90a0a;
}

ul.errorlist {
  li {
    background-color: $color-error;
    color: black !important;
    padding: 2px !important;
  }
}

fieldset label {
  cursor: pointer;
}

ul.errorlist {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    color: #c90a0a;
  }
}


.submit-row {
  .btn {
    &.save {
    }
  }
}
