* {

}

body {
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  font-size: 10pt;

  header.header {
    //position: fixed;
    background-color: white;
    width: 100%;
    z-index: 900;
    //margin-bottom: 30px;
  }
}
.btn {

}

fieldset label {
  cursor: pointer;
}

ul.errorlist {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    color: #c90a0a;
  }
}


.submit-row {
  .btn {
    &.save {
    }
  }
}
