* {

}

body {
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  font-size: 10pt;
}

.btn {

}

ul.errorlist {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    color: red;
  }
}


.submit-row {
  .btn {
    &.save {
    }
  }
}

.staff-toolbar {
  background-color: black;
  color: white;
  width: 100%;
  z-index: 1000
}
