.*
~*
*.min.min.js
*.py[ico]
*.db
*.egg-info
dist/
__pycache__
coverage.xml
node_modules
package-lock.json
package.json
!tests/.coveragerc
!.gitignore
!.dockerignore
!.github
!.isort.cfg
!.flake8
!.pre-commit-config.yaml
.env
docker/conf/nginx.conf
docker/conf/redis.conf
src/smart_register/staticfiles
