trigger:
  batch: true
  branches:
    include:
    - develop
    - staging
    - master
    - ops/*
  paths:
    exclude:
    -  docs/*
pr: none
resources:
  - repo: self

variables:
  # ========================================================================
  #                          Mandatory variables 
  # ========================================================================
  Docker.filePath: "**/docker/Dockerfile.local"
  Docker.app_repository: "flexregister"
  Docker.registry: "ICTD-HOPE-DEV-ACR"
  Docker.repository: "unihopeukrsrdev"

stages:
  - stage: build_and_push
    displayName: BUILD and PUSH
    jobs:
      - job: build_push_backend
        pool:
          vmImage: ubuntu-latest
        displayName: "[APP]"
        steps:
          - task: Docker@2
            displayName: Build&Push
            inputs:
              command: buildAndPush
              buildContext: "**/.."
              dockerfile: $(Docker.filePath)
              repository: $(Docker.app_repository)
              containerRegistry: $(Docker.registry)
              tags: |
                $(Build.BuildId)
                $(Build.SourceVersion)
