version: '3.7'

volumes:
  db:

services:
  backend:
    stdin_open: true
    tty: true
    env_file:
      - .env
    environment:
      - REDIS_INSTANCE=redis:6379
    build:
      context: ./
      dockerfile: ./docker/Dockerfile.local
    ports:
      - "8000:8000"
    volumes:
      - ./:/code/
    command: "dev"
    depends_on:
      - db
      - redis
      - celery_worker
  db:
    image: mdillon/postgis:11-alpine
    volumes:
      - db:/var/lib/postgresql/data
    env_file:
      - .env
