[tool.poetry]
name = "smart_register"
version = "0.1.0"
description = ""
authors = ["sax <s.apostolico@gmail.com>"]
packages = [
    { include = "smart_register", from = "src" },
]

[tool.poetry.dependencies]
django = "^3"
django-admin-extra-buttons = "^1.1.0"
django-adminactions = "^1.15"
django-adminfilters = "^2.0.1"
django-click = "^2.3.0"
django-constance = "^2.8.0"
django-environ = "^0.8.1"
django-flags = "^5.0.8"
django-import-export = "^2.7.1"
django-picklefield = "^3.0.1"
django-smart-admin = "^1.9.0"
django-strategy-field = "*"
django-sysinfo = "^2.6.2"
django_regex = "*"
gunicorn = "^20.1.0"
jsonpickle="2.1.0"
psycopg2-binary = "^2.9.3"
pyduktape = "^0.0.6"
python = "^3.9"
sentry-sdk = "^1.5.6"
whitenoise="6.0.0"
django-regex = "^0.4.1"
django-jsoneditor = "^0.2.2"
django-simple-captcha = "^0.5.17"
django-admin-ordering = "^0.15.0"
django-concurrency = "^2.4"
py-mini-racer = "^0.6.0"
pycryptodome = "^3.14.1"
cryptography = "^36.0.1"
gevent = "^21.12.0"
django-debug-toolbar = "^3.2.4"
Pillow = "^9.0.1"
qrcode = "^7.3.1"

[tool.poetry.dev-dependencies]
coverage = "*"
django-webtest = "^1.9.7"
docker = "*"
factory_boy = "*"
flake8 = "*"
ipython = "*"
isort = "^5.6.4"
pdbpp = "*"
pre-commit = "*"
pyflakes = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-django = "^4.1.0"
pytest-echo = "*"
pytest-pythonpath = "^0.7.3"
pytest-selenium = "^2.0.1"
pytest-coverage = "^0.0"
black = "^22.1.0"
watchdog = "^2.1.6"
tox = "*"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"

[tool.black]
line-length = 120
target-version = ['py39']
include = '\.pyi?$'
exclude = '''
/(
  \.toml
  |\.sh
  |\.git
  |\.ini
  |Dockerfile
)/
'''
