{% extends "admin_extra_buttons/change_form.html" %}{% load static %}
{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "base.css" %}">
    <style>
        .submit-row.key {
            display: flex;
            text-align: left;
        }

        .submit-row.key div.label {
            flex-grow: 1;
        }

        .submit-row.key div a.generate {
            float: right;
            display: block;
            background-color: #88FF88;
            border-radius: 4px;
            padding: 10px 15px;
            height: 15px;
            line-height: 15px;
            color: black;
        }
    </style>
{% endblock %}
{% block messages %}
    <ul class="messagelist">
        {% if original.encrypt_data %}
            <li class="success">Symmetric Encryption Enabled</li>
        {% elif original.public_key %}
            <li class="success">RSA Encryption Enabled</li>
        {% else %}
            <li class="warning">Encryption Not Enabled</li>
        {% endif %}
    </ul>
    {{ block.super }}
{% endblock messages %}

{#{% block after_field_sets %}#}
{#    <div class="submit-row key">#}
{#        <div class="label">Public/Private RSA encryption</div>#}
{#        <div>#}
{#            {% if original.public_key %}#}
{#                <a class="deletelink" href="{% url "admin:registration_registration_removekey" original.pk %}">#}
{#                    Remove Key#}
{#                </a>#}
{#            {% elif original.pk %}#}
{#                <a class="aeb-green generate"#}
{#                   href="{% url "admin:registration_registration_generate_keys" original.pk %}">#}
{#                    Generate Key#}
{#                </a>#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}
{% block inline_field_sets %}{% endblock %}
