{% extends "admin_extra_buttons/action_page.html" %}
{% block action-content %}
    {% if form %}
        <form method="post">
            {% csrf_token %}
            {{ form.errors }}
            <table>
                {{ form }}
            </table>
            <input type="submit" value="Create">
        </form>
    {% else %}
        {#        <table>{% for c in created %}#}
        {#            <tr>#}
        {#                <td>{{ c }}</td>#}
        {#            </tr>#}
        {#        {% endfor %}#}
        {#        </table>#}


        <table width="100%">
            <tr>
                <td>Registration</td>
                <td><a href="{% url "admin:registration_registration_change" cloned.pk %}">{{ cloned }}</a></td>
            </tr>
            <tr>
                <td>MainForm</td>
                <td><a href="{% url "admin:core_flexform_change" cloned.flex_form.pk %}">{{ cloned.flex_form }}</a></td>
            </tr>
            <tr>
                <th>Formsets</th>
            </tr>
            <tr>
                <th>Name</th>
                <th>Parent</th>
                <th>Form</th>
            </tr>
            {% for c in cloned.flex_form.formsets.all %}
                <tr>
                    <td><a href="{% url "admin:core_formset_change" c.pk %}">{{ c }}</a></td>
                    <td><a href="{% url "admin:core_flexform_change" c.parent.pk %}">{{ c.parent }}</a></td>
                    <td><a href="{% url "admin:core_flexform_change" c.flex_form.pk %}">{{ c.flex_form }}</a></td>
                </tr>
            {% endfor %}

            <tr>
                <th>Fields</th>
            </tr>
            <tr>
                <th>Name</th>
                <th>Form</th>
                <th>Type</th>
            </tr>
            {% for fs in cloned.flex_form.formsets.all %}
                {{ fs.flex_form }}
                {% for c in fx.flex_form.fields.all %}

                    <tr>
                        <td><a href="{% url "admin:core_flexformfield_change" c.pk %}">{{ c.name }}</a></td>
                        <td><a href="{% url "admin:core_flexform_change" c.flex_form.pk %}">{{ c.flex_form.name }}</a>
                        </td>
                        <td>{{ c.name }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>

    {% endif %}
{% endblock action-content %}
