{% extends "admin_extra_buttons/action_page.html" %}
{% block action-content %}
    {% if custom_template %}
        <a href="{% url "admin:dbtemplates_template_change" custom_template.pk%}">{{ custom_template }}</a> from {{ source }}
    {% elif form %}
        <form method="post">
            {% csrf_token %}
            {{ form.errors }}
            <table>
                {{ form }}
            </table>
            <input type="submit" value="Create">
        </form>
    {% else %}
        <ul>
            <li><a href="{{ uri }}">{{ uri }}</a></li>
        </ul>

        <a href="{% url "admin:i18n_message_changelist" %}?locale__exact={{ locale }}&amp;draft__exact=1&amp;timestamp__day={% now "d" %}&amp;timestamp__month={% now "n" %}&amp;timestamp__year={% now "Y" %}">View All Messages</a>
        <h2>New messages</h2>
        <table>{% for msg in added %}
            <tr><td><a href="{% url "admin:i18n_message_change" msg.pk %}">{{ msg.msgid }}</a></td><td></td></tr>
        {% endfor %}</table>
    {% endif %}
{% endblock action-content %}
