{% extends "admin_extra_buttons/action_page.html" %}
{% block action-content %}
    {% if form %}
        <form method="post">
            {% csrf_token %}
            {{ form.errors }}
            <table>
                {{ form }}
            </table>
            <input type="submit" value="Create">
        </form>
    {% else %}
        <table width="100%">
            <tr>
                <td>Registration</td>
                <td><a href="{% url "admin:registration_registration_change" original.pk %}">{{ original }}</a></td>
            </tr>
            <tr>
                <td>MainForm</td>
                <td><a href="{% url "admin:core_flexform_change" original.flex_form.pk %}">{{ original.flex_form }}</a></td>
            </tr>
            <tr>
                <th>Formsets</th>
            </tr>
            <tr>
                <th>Name</th>
                <th>Form</th>
                <th>Parent</th>
            </tr>
            {% for c in original.flex_form.formsets.all %}
                <tr>
                    <td><a href="{% url "admin:core_formset_change" c.pk %}">{{ c }}</a></td>
                    <td><a href="{% url "admin:core_flexform_change" c.flex_form.pk %}">{{ c.flex_form }}</a></td>
                    <td><a href="{% url "admin:core_flexform_change" c.parent.pk %}">{{ c.parent }}</a></td>
                </tr>
            {% endfor %}

            <tr>
                <th>Fields</th>
            </tr>
            <tr>
                <th>Name</th>
                <th>Form</th>
                <th>Type</th>
            </tr>
            {% for fs in original.flex_form.formsets.all %}
                {% for flex_field in fs.flex_form.fields.all %}
                    <tr>
                        <td><a href="{% url "admin:core_flexformfield_change" flex_field.pk %}">{{ flex_field.name }}</a></td>
                        <td><a href="{% url "admin:core_flexform_change" flex_field.flex_form.pk %}">{{ flex_field.flex_form.name }}</a>
                        </td>
                        <td>{{ flex_field.type_name }}
                            <div><small>({{ flex_field.fqn }})</small></div>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>

    {% endif %}
{% endblock action-content %}
