{% extends "admin_extra_buttons/action_page.html" %}{% load aurora %}
{% block extrahead %}
    <script src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script src="/static/admin/js/jquery.init.js"></script>
    <style>
        .sample {
            background-color: #79aec8;
        }

        input.save {
            background-color: #417690;
        }
    </style>
{% endblock %}
{% block action-content %}
    {{ form.media }}
    <form method="post">
        {{ form.errors }}
        {% csrf_token %}
        <table style="width: 100%">
            {{ form.unique_field }}
            <tr>
                <td colspan="2" style="white-space: nowrap">
                    {{ form.unique_field_path }}
                    <input type="submit" class="save" value="Save">
                    <input type="button" class="sample" id="get_sample" value="Sample">
                </td>
            <tr>
                <td>
                    <textarea name="data" id="id_data" style="width: 100%;height: 300px">{{ form.data.value }}</textarea>
                </td>
                <td>
                    <textarea id="id_result" style="width: 100%; height: 300px"></textarea>
                </td>
            </tr>

        </table>
    </form>
    <script>
        (function ($) {
            $(function () {
                $("#get_sample").on("click", function () {
                    $.getJSON("{% url "admin:registration_registration_james_fake_data" original.pk %}",
                        function (data) {
                            $("#id_data").val(JSON.stringify(data, null, " "));
                        });
                });
                $("#id_data").on("paste", function (e) {
                    setTimeout(function () {
                        var raw = $("#id_data").val();
                        $("#id_data").val(JSON.stringify(JSON.parse(raw), null, " "));
                    }, 0.5);
                });
                $("#id_unique_field_path, #id_data").on("keyup", function (e) {
                    try {
                        var data = JSON.parse($("#id_data").val());
                        var result = jmespath.search(data, $(this).val());
                        $("#id_result").val(JSON.stringify(result, null, " "));
                    } catch (e) {
                        $("#id_result").val(e);
                    }
                });
            });
        })(django.jQuery);

    </script>
{% endblock %}
