{% extends "admin_extra_buttons/action_page.html" %}
{% block action-content %}
    {% if public_key %}
        <table>
            <h1>This is the last time you see the Key</h1>
            <strong>
                Copy the Private Key and store it in a safe place. It is the only way to have your data back.
            </strong>
            <tr>
                <th>Private</th>
                <td><textarea id="key" readonly
                              style="width: 600px; height: 200px;font-family: Courier">{{ private_key.decode }}</textarea></td>
            </tr>
            <a class="button btn-primary copy-to-clip" data-target="#key">Copy</a>

            <tr>
                <th>Public</th>
                <td><textarea readonly style="width: 600px; height: 200px">{{ public_key.decode }}</textarea>
                </td>
            </tr>
        </table>
        <a class="btn btn-primary" href="..">Done</a>
    {% else %}
        <form method="post">
            {% csrf_token %}
            <input type="submit" value="Generate">
            <input type="button" value="Cancel" onclick="javascript:history.back();">
        </form>
    {% endif %}
    <script>

{#        #}
{#        document.querySelector("#copy").onclick = function () {#}
{#            var result = copyToClipboard(new Date().toString());#}
{#            console.log("copied?", result);#}
{#        };#}
    </script>
{% endblock action-content %}
