{% extends "base.html" %}
{% block body %}
    {{ form.media }}
    {% block messages %}
        {% if messages %}
            <ul class="messagelist">{% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
            {% endfor %}</ul>
        {% endif %}
        {{ cleaned_data }}
    {% endblock messages %}
    {{ error }}
    <div class="min-h-screen flex justify-center bg-gray-100">
        <form method="post" id="">
            {% csrf_token %}
            <table>
                {{ form }}
            </table>
            <input class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                   type="submit">
        </form>
    </div>
{% endblock %}
