{% extends "admin_extra_buttons/action_page.html" %}
{% block action-content %}

<h3>Proceeding you will download production configuration from {{ server }} </h3>
    {% if prod_credentials.username %}
        <h3> You are currently logged in as <pre>{{ prod_credentials.username }}</pre></h3>
        <a href="{{ prod_logout }}">Change user</a>
    {% endif %}
    <div>
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Load">
    </form>
    </div>
{% endblock %}
