{% extends "admin_extra_buttons/action_page.html" %}

{% block action-content %}
    <div style="margin:10px">
        Proceeding will publish {{ original }} to production on <strong>{{ server }}</strong>
    </div>
    {% if prod_credentials.username %}
        <div style="margin:10px">
            You are currently logged in as <strong>{{ prod_credentials.username }}</strong>
            (<a href="{{ prod_logout }}">Change user</a>)
        </div>
    {% endif %}
    <div style="margin-top:50px">
    <form method="post">
            {% csrf_token %}
            <input type="submit" value="Publish">
        </form>
    </div>
{% endblock %}
