{% load itrans %}
{% if original|strip %}
    {% csrf_token %}
    {% with original|msgcode as code %}
        <span class="inline-flex staff-editor staff-i18n staff-tooltip align-left ">
            <span class="tooltiptext">
                <p><span class="label">Lang</span>{{ LANGUAGE_CODE }}</p>
                <p><span class="label">Message</span>{{ original }}</p>
            </span>
            <label aria-label="Edit">
                <a target="_edit" class="i18n"
                   data-url="{% url "admin:i18n_message_get_or_create" %}"
                   data-lang="{{ LANGUAGE_CODE }}"
                   data-original="{{ original|urlencode }}"
                   href="#"></a>
            </label>
        </span>
    {% endwith %}
{% endif %}
