{% extends "admin_extra_buttons/change_form.html" %}
{% block extrahead %}
    {{ block.super }}
    <style>
        a.generate {
            display: block;
            background-color: #88FF88;
            border-radius: 4px;
            padding: 10px 15px;
            height: 15px;
            line-height: 15px;
            color: black;
        }
    </style>
{% endblock %}
{% block messages %}
    <ul class="messagelist">
        {% if not original.public_key %}
            <li class="warning">Encryption Not Enabled</li>
        {% else %}
            <li class="success">Encryption Enabled</li>
        {% endif %}
    </ul>
    {{ block.super }}
{% endblock messages %}

{% block after_field_sets %}
    <div class="submit-row">
        <p class="deletelink-box">
            {% if original.public_key %}
                <a class="deletelink" href="{% url "admin:registration_registration_removekey" original.pk %}">Remove
                    Key</a>
            {% elif original.pk %}
                <a class="aeb-green generate"
                   href="{% url "admin:registration_registration_generate_keys" original.pk %}">Generate
                    Key</a>
            {% endif %}
        </p>
    </div>
{% endblock %}
{% block inline_field_sets %}{% endblock %}
