{% extends "admin_extra_buttons/action_page.html" %}
{% block extrahead %}
    <script src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script src="/static/admin/js/jquery.init.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

{% endblock %}

{% block action-content %}
    <label><input type="radio" value="h" name="chartType">Hours</label>
    <label><input type="radio" checked value="m" name="chartType">Days</label>
    <button id="prev"> << </button>
    <button id="next"> >> </button>

    <div class="chart-container" style="position: relative; height:20vh; width:80vw">
        <canvas id="myChart"></canvas>
    </div>
{% endblock action-content %}

{% block document_ready %}

    <script>
        (function ($) {
            var m = moment();
            var currentDay = m.format('YYYY-MM-DD');
            var MODE="m";
            var ctx = document.getElementById("myChart").getContext("2d");
            var baseUrl = "{% url "admin:registration_registration_data" original.pk %}";
            var myChart = new Chart(ctx, {
                type: "bar",
                responsive: true,
                data: {
                    labels: [],
                    datasets: [{
                        label: "",
                        data: [],
                        backgroundColor: "#6286d9",
                    }]
                }
            });

            ajax_chart(baseUrl);

            function ajax_chart(params) {
                params.rnd = Math.random();
                var qs = new URLSearchParams(params).toString();
                $.getJSON(baseUrl + "?" + qs).done(function (response) {
                    myChart.data.labels = response.labels;
                    myChart.data.datasets[0].data = response.data;
                    myChart.data.datasets[0].label = response.label;
                    myChart.update(); // finally update our chart
                    currentDay = moment(response.day, 'YYYY-MM-DD').format('YYYY-MM-DD');;
                });
            }

            $("#prev").on("click", function (e) {
                var data;
                if (MODE==='m'){
                    currentDay = moment(currentDay).subtract(1, 'months').format('YYYY-MM-DD');
                    data = {m: currentDay}
                }else{
                    currentDay = moment(currentDay).subtract(1, 'days').format('YYYY-MM-DD');
                    data = {d: currentDay}
                }
                ajax_chart( data );

            });
            $("#next").on("click", function (e) {
                var data;
                if (MODE==='m'){
                    currentDay = moment(currentDay).add(1, 'months').format('YYYY-MM-DD');
                    data = {m: currentDay}
                }else{
                    currentDay = moment(currentDay).add(1, 'days').format('YYYY-MM-DD');
                    data = {d: currentDay}
                }
                ajax_chart( data );
            });
            $("input[name=chartType]").on("change", function (e) {
                MODE=$(e.target).val();
                if ($(e.target).val() === "m") {
                    ajax_chart({m: currentDay});
                } else {
                    ajax_chart({d: currentDay});
                }
            });
        })(django.jQuery);
    </script>

{% endblock %}
