{% extends "admin_extra_buttons/action_page.html" %}
{% block extrahead %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/css/select2.min.css">
    <script src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script src="/static/admin/js/jquery.init.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/js/select2.min.js"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.0.0/chartjs-plugin-datalabels.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

{% endblock %}

{% block action-content %}
    {{ form }}
    <div style="margin-bottom: 50px;">
        <label><input type="radio" value="h" name="chartType">Hours</label>
        <label><input type="radio" value="m" name="chartType">Days</label>
        <label><input type="radio" checked value="a" name="chartType">All</label>
        <button class="btn button" id="prev"> <<</button>
        <button class="btn button" id="next"> >></button>
    </div>
    <div class="chart-container" style="position: relative; height:20vh; width:80vw">
        <canvas id="myChart"></canvas>
    </div>
{% endblock action-content %}

{% block document_ready %}

    <script>
        (function ($) {
            {#$('#id_timezone').select2();#}
            $("#id_timezone").on("change", function () {

            });

            Chart.register(ChartDataLabels);
            var m = moment();
            var currentDay = m.format("YYYY-MM-DD");
            var MODE = "m";
            var ctx = document.getElementById("myChart").getContext("2d");
            var baseUrl = "{% url "admin:registration_registration_data" original.pk %}";
            var myChart = new Chart(ctx, {
                type: "bar",
                options: {
                    responsive: true,
                    layout: {
                        padding: 0
                    },
                    plugins: {
                        datalabels: {
                            anchor: "center",
                            align: "center",
                            formatter: Math.round,
                            padding: 10,
                            rotation: 0,
                            font: {
                                weight: "bold"
                            },
                        },
                        title: {
                            display: true,
                            text: "Registrations"
                        },
                        legend: {
                            display: false,
                        }
                    }
                },
                data: {
                    labels: [],
                    datasets: [{
                        label: "",
                        data: [],
                        backgroundColor: "#2861c555",
                        borderColor: "#2861c5",
                        borderWidth: 1
                    }]
                }
            });

            ajax_chart({});

            function ajax_chart(params) {
                params.rnd = Math.random();
                var qs = new URLSearchParams(params).toString();
                $.getJSON(baseUrl + "?" + qs).done(function (response) {
                    myChart.data.labels = response.labels;
                    myChart.data.datasets[0].data = response.data;
                    myChart.options.plugins.title.text = response.label + " - Total Registrations: " + response.total.toLocaleString();
                    myChart.update(); // finally update our chart
                    currentDay = moment(response.day, "YYYY-MM-DD").format("YYYY-MM-DD");
                });
            }

            $("#prev").on("click", function (e) {
                var data;
                if (MODE === "m") {
                    currentDay = moment(currentDay).subtract(1, "months").format("YYYY-MM-DD");
                    data = {m: currentDay};
                } else {
                    currentDay = moment(currentDay).subtract(1, "days").format("YYYY-MM-DD");
                    data = {d: currentDay};
                }
                ajax_chart(data);

            });
            $("#next").on("click", function (e) {
                var data;
                if (MODE === "m") {
                    currentDay = moment(currentDay).add(1, "months").format("YYYY-MM-DD");
                    data = {m: currentDay};
                } else {
                    currentDay = moment(currentDay).add(1, "days").format("YYYY-MM-DD");
                    data = {d: currentDay};
                }
                ajax_chart(data);
            });
            $("input[name=chartType]").on("change", function (e) {
                MODE = $(e.target).val();
                if ($(e.target).val() === "m") {
                    ajax_chart({m: currentDay});
                } else if ($(e.target).val() === "h") {
                    ajax_chart({d: currentDay});
                } else if ($(e.target).val() === "a") {
                    ajax_chart({});
                }
            });
        })(django.jQuery);
    </script>

{% endblock %}
