{% extends "admin_extra_buttons/action_page.html" %}
{% block action-content %}
    {% if public_key %}
    <table>
        <strong>This is the last time you see Keys</strong>
        <strong>Public Key will be used to encrypt data and will be stored in this server.
Copy the Private Key and use to decrypt data.
        </strong>
        <tr>
            <th>Private</th>
            <td><textarea readonly style="width: 600px; height: 200px">{{ private_key.decode }}</textarea></td>
        </tr>
        <tr>
            <th>Public</th>
            <td><textarea readonly style="width: 600px; height: 200px">{{ public_key.decode }}</textarea>
            </td>
        </tr>
    </table>
    <a class="btn btn-primary" href="..">Done</a>
    {% else %}
        <form method="post">
            {% csrf_token %}
            <input type="submit" value="Generate">
        </form>
    {% endif %}
{% endblock action-content %}
