{% extends "base.html" %}{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static "counters/counters.css" %}">
    <script src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.0.0/chartjs-plugin-datalabels.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/1.4.0/chartjs-plugin-annotation.min.js"
            integrity="sha512-HrwQrg8S/xLPE6Qwe7XOghA/FOxX+tuVF4TxbvS73/zKJSs/b1gVl/P4MsdfTFWYFYg/ISVNYIINcg35Xvr6QQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block body %}
    <h1 class="text-lg mb-20">
        <a href="{% url "charts:index" registration.project.organization.slug %}">{{ registration.project.organization }}</a> /
        <a href="{% url "charts:project-index" registration.project.organization.slug registration.project.pk %}">{{ registration.project }}</a> /
        {{ registration }}</h1>

    <div class="min-h-screen flex w-wull bg-gray-100 pb-10 charting">
        {% block info %}
            <div class="w-full m-20 lg:w-1/2 mt-5">
                <h1 class="text-lg">{{ registration }}</h1>
                <div><strong>Started on : </strong>{{ registration.start }}</div>
                <div><strong>Until: </strong>{{ registration.end|default_if_none:"Running" }}</div>
                <div><strong>Status: </strong>{% if registration.active %}Active{% else %}Paused{% endif %}</div>
                {% block chart %}
                    <div class="my-5">
                        <button class="button" id="prev"><<</button>
                        <button class="button" id="next"> >></button>
                    </div>
                    <div class="chart-container">
                        <canvas id="myChart" style="width: 100%;height: 100%"></canvas>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
        {% block data %}{% endblock %}
    </div>
{% endblock %}
