{% if widget.wrap_label %}
    <label class="form-check-label inline-block text-gray-800" {% if widget.attrs.id %} for="{{ widget.attrs.id }}"{% endif %}>
{% endif %}
<input
        type="{{ widget.type }}"
        name="{{ widget.name }}"
        {% if widget.value != None %}value="{{ widget.value|stringformat:'s' }}"{% endif %}
        {% include "django/forms/widgets/attrs.html" %}
>
{% if user.is_staff %}{% include "i18n/_staff_edit_i18n.html" with original=widget.label %}{% endif %}
{% if widget.wrap_label %} {{ widget.label }}</label>{% endif %}
