<div id="div_{{ widget.name }}">
    <canvas>
        <div class="output">
            <img alt="The screen capture will appear in this box.">
        </div>
    </canvas>
    <input style="display: none" data-target="{{ widget.name }}" name="{{ widget.name }}"{% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %}>
    <div>
    <button class="show-camera" data-target="{{ widget.name }}" type="button">Take photo</button>
    <button class="clear-camera" data-target="{{ widget.name }}" type="button">Clear photo</button>
    </div>
</div>
