{% extends "admin_extra_buttons/action_page.html" %}
{% block extrahead %}
    {{ block.super }}
    {{ form.media }}
    <style>
        .message{
            display: flex;
            align-items: center;
        }
        .message .icon{
            width: 50px;
            height: 50px;
            background: white url('/static/admin/img/icon-unknown.svg') no-repeat center;
            background-size: 50px 50px;
        }
        .icon.question{
            background-image: url('/static/admin/img/icon-unknown.svg');
        }
        .icon.error{
            background-image: url('/static/admin/img/icon-alert.svg');
        }
        .icon.valid{
            background-image: url('/static/admin/img/icon-yes.svg');
        }
        .icon.invalid{
            background-image: url('/static/admin/img/icon-no.svg');
        }
        #log, {
            overflow-scrolling: auto;
            max-height: 300px;
        }
    </style>
{% endblock %}
{% block action-content %}
    <div class="message">
        <div class="icon"></div>
        <pre id="messages"></pre>
    </div>
    <form method="post">
        {% csrf_token %}
        <table width="100%">
            <tr>
                <td colspan="2">
                    {{ form.code }}
                </td>
            </tr>
            <tr>
                <td  style="width: 200px">
                    {{ form.input }}
                </td>
                <td style="width: 500px">
<pre id="log" style="width: 100%"></pre>
                </td>
            </tr>
        </table>
        <input type="submit">
    </form>
{% endblock action-content %}
{% block document_ready %}
    {{ block.super }}
    <script>
        (function ($) {
            $(document).ready(function () {
                {{ jslib }}
                log = console.log = function () {
                    {#$log.prepend(msg + "\n");#}
                    $log.prepend(Array.prototype.join.call(arguments, ', ') + "\n");
                };
                log1 = console.log1 = function (msg) {
                    $log.prepend(JSON.stringify(msg) + "\n");
                }
                var message = "{{ original.message }}"
                var $icon = $(".message .icon");
                var editor = $("#id_code").data("CodeMirror");
                var input = $("#id_input").data("CodeMirror");
                var $log = $("#log");
                var $messages =  $('#messages');
                var timer, delay = 500;
                var updateSource = function () {
                    var code = editor.getValue();
                    var param = input.getValue();
                    var source = "var value=" + param + ";" + code;
                    run(source);
                };
                var updateHandler = function(e) {
                    clearTimeout(timer);
                    timer = setTimeout(function () {
                        updateSource();
                    }, delay);
                };
                var run = function (c) {
                    try {
                        $messages.text("");
                        var ret = eval(c);
                        if (ret === true){
                            $icon.prop("class", "icon").addClass("valid");
                        }else{
                            $icon.prop("class", "icon").addClass("invalid");
                            $messages.text(ret);
                        }
                    } catch (error) {
                        $icon.prop("class", "icon").addClass("error");
                        $messages.text(error)
                        console.log(error);
                    }
                };
                var key = "sample-{{ original.pk }}";
                const cat = localStorage.getItem(key);
                if (cat){
                    input.setValue(cat);
                };
                editor.on("change", updateHandler);
                input.on("change", function (e){
                    updateHandler();
                    localStorage.setItem(key, e.getValue())});
                updateSource();
                console.log(2222222);
            });
        })(django.jQuery);
    </script>
{% endblock %}
