{% extends "admin_extra_buttons/action_page.html" %}
{% block action-content %}
    {% if form %}
        <form method="post">
            {% csrf_token %}
            {{ form.errors }}
            <table>
                {{ form }}
            </table>
            <input type="submit" value="Check">
        </form>
    {% else %}
        <h2>Messages (before)</h2>
        <table>{% for k,v in pre.items %}
            <tr><td>{{ k }}</td><td>{{ v }}</td></tr>
        {% endfor %}</table>
        <h2>Messages (current)</h2>
        <table>{% for k,v in post.items %}
            <tr><td>{{ k }}</td><td>{{ v }}</td></tr>
        {% endfor %}</table>
    {% endif %}
{% endblock action-content %}
