{% extends "admin_extra_buttons/action_page.html" %}
{% block action-content %}
    {% if form %}
        <form method="post">
            {% csrf_token %}
            {{ form.errors }}
            <table>
                {{ form }}
            </table>
            <input type="submit" value="Create">
        </form>
    {% else %}
        <h2>New messages</h2>
        <table>{% for msg in added %}
            <tr><td><a href="{% url "admin:i18n_message_change" msg.pk %}">{{ msg.msgid }}</a></td><td></td></tr>
        {% endfor %}</table>
    {% endif %}
{% endblock action-content %}
