{% load itrans aurora %}<fieldset data-fid="{{ field.field.flex_field.pk }}" class="{{ field.name }} {{ field|smart:"fieldset" }}">

    {% if can_edit_inpage %}
        {% include "registration/_staff_edit_field.html" %}
    {% endif %}
{#    {% if field.field.flex_field.validator %}#}
{#        <script src="/api/validator/{{ field.field.flex_field.validator.pk }}/script/"></script>#}
{#    {% endif %}#}
    {% if field.field.flex_field.advanced.smart.question %}
            <label for="question_{{ field.auto_id }}" class="cursor-pointer">
                <input id="question_{{ field.auto_id }}"
                       class="question-visibility {% if field.errors %}error{% endif %}"
                       onchange="{{ field|smart:"question-onchange" }}"
                       data-target="field-container-{{ field.name }}"
                       {% if field.errors %} checked {% endif %}
                       type="checkbox">
{#                {% if can_translate %}{% include "i18n/_staff_edit_i18n.html" with original=field.field.flex_field.advanced.smart.question %}{% endif %}#}
                <span data-i18n-Type="Question" data-msgid="{{ field|smart:"question,0" }}">{{ field|smart:"question,1"|md }}</span>
            </label>
    {% endif %}
    <div class="mb-4 field-container field-container-{{ field.name }} mb-5 ">
        <label data-msgid="{{ field.label }}" data-i18n-Type="FieldLabel"
                class="itrans block uppercase tracking-wide text-gray-700 font-bold mb-2" for="{{ field.auto_id }}">
{#            {% if can_translate %}{% include "i18n/_staff_edit_i18n.html" with original=field.label %}{% endif %}#}
            {% trans field.label|md %}
            {% if field.field.required field.field.flex_field.advanced.smart.question %}
                <span data-msgid="required" class="itrans lowercase font-thin required text-xs">({% trans "required" %})</span>{% endif %}
        </label>
        {% if field.field.flex_field.advanced.description %}
        <div class="itrans text-sm" data-msgid="{{ field.field.flex_field.advanced.description }}">
{#            {% if can_translate %}{% include "i18n/_staff_edit_i18n.html" with original=field|smart:"description,0" %}{% endif %}#}
            {% trans field.field.flex_field.advanced.description %}
        </div>
        {% endif %}
        <span class="errors">{{ field.errors }}</span>
        {{ field }}
        <div class="text-xs	italic" data-msgid="{{ field.field.flex_field.advanced.smart.hint }}">
{#            {% if user.is_staff %}{% include "i18n/_staff_edit_i18n.html" with original=field|smart:"hint,0" %}{% endif %}#}
            {% trans field.field.flex_field.advanced.smart.hint %}
        </div>
    </div>
</fieldset>
