{% load aurora formset l10n static itrans http2 %}
<div id="formContainer" class="min-h-screen flex justify-center bg-gray-100 pb-10 hidden">
    <div class="w-full lg:w-1/2 mt-5">
        {% if invalid %}
            <div data-msgid="please fix the errors below"
                    class="itrans mb-10 w-full text-capitalize m-auto text-center alert-message text-xl border rounded">
                {% trans "please fix the errors below" %}
            </div>
            <ul class="block errorlist">{% for e in errors %}
                {% for msg in e %}
                    <li data-msgid="{{ msg }}" class="itrans">{{ msg }}</li>
                {% endfor %}
            {% endfor %}
            </ul>
        {% endif %}
        <div class="edit-module" data-module="{{ registration.pk }}" data-validator="{{ registration.validator }}"></div>
        {% if can_edit_inpage %}
            {% include "registration/_staff_edit_module.html" %}
        {% endif %}
        {% if registration.intro %}
            <div class="py-6 px-6 my-6 bg-white shadow-md rounded">
                <div class="intro itrans" data-msgid="{{ registration.intro }}">
{#                    {% if can_translate %}#}
{#                        {% include "i18n/_staff_edit_i18n.html" with original=registration.intro %}{% endif %}#}
                    {% trans registration.intro as intro %}
                    {{ intro|default_if_none:""|markdown }}
                </div>
            </div>
        {% endif %}
        <div class="bg-white shadow-md rounded px-2 sm:px-8 pt-6 pb-8 mb-4">
            {% if can_edit_inpage %}
                {% include "registration/_staff_edit_form.html" %}
            {% endif %}
            <form data-smart-validator="{{ form.flexform.validator.name }}" class="w-full" method="post" enctype="multipart/form-data" id="registrationForm">
                {% csrf_token %}
                <div class="form-container" data-page="0">
                    {% for field in form %}{% include "smart/_fieldset.html" %}{% endfor %}
                </div>
                {% for name, formset in formsets.items %}
                    {% if formset.non_form_errors %}
                        <ul class="errorlist">
                            {% for msg in formset.non_form_errors %}
                                <li class="itrans">{{ msg }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% formset_config formset as config %}
                    <div class="formset-config">{{ config|json_script:name }}</div>
                    {% if config.onAdd %}
                    <script> function onAdd_{{ config.namespace }}(fs, row){
                        {{ config.onAdd }};
                    }</script>
                    {% endif %}
                    <div class="shadow-md rounded bg-gray-100 mb-10 p-2 sm:p-4" data-page="{{ forloop.counter }}">
                        <div class="w-full formset formset-{{ name }} {{ formset.fs.advanced.smart.container.class }}"
                                {% include "django/forms/widgets/attrs.html" with widget=formset.fs.advanced.smart.container.html_attrs %}>
{#                            {% if can_edit_inpage %}#}
{#                                {% include "registration/_staff_edit_formset.html" %}#}
{#                            {% endif %}#}
                            {% if formset.fs.title %}
                                {% trans formset.fs.title as fstitle %}
                                <div data-msgid="{{ formset.fs.title }}" class="itrans w-full mt-4 text-sm leading-7 text-gray-500 font-regular i18n uppercase text-center title">
                                    {% trans formset.fs.title %}
                                </div>
                            {% endif %}
                            {% if formset.fs.description %}
                                <div data-msgid="{{ formset.fs.description }}" class="itrans w-full mt-4 text-sm leading-7 i18n text-gray-800 i18n font-regular">
{#                                    {% if can_translate %}#}
{#                                        {% include "i18n/_staff_edit_i18n.html" with original=formset.fs.description %}{% endif %}#}
                                    {% trans formset.fs.description|md %}
                                </div>
                            {% endif %}
                            <div class="flex flex-col">
                                <div class="w-100 forms">
                                    {{ formset.management_form }}
                                    {% for form in formset %}
                                        <div class="w-full my-5 p-3 border border-gray-400 form-container {{ config.formCssClass }} {{ formset.prefix }}">
                                            <div class="fs-counter-container">
{#                                                {% if can_translate %}#}
{#                                                    {% include "i18n/_staff_edit_i18n.html" with original=config.counterPrefix %}{% endif %}#}
                                                <div class="itrans fs-counter"></div>
                                            </div>
                                            <div class="mb-3">
                                                {{ form.non_field_errors }}
                                            </div>
{#                                            {% if can_edit_inpage %}#}
{#                                                {% include "registration/_staff_edit_form.html" %}#}
{#                                            {% endif %}#}
                                            {% for field in form %}
                                                {% include "smart/_fieldset.html" with counter=forloop.counter %}
                                            {% endfor %}
                                            <div class="flex">
                                                <div class="flex-auto "></div>
                                                <div class="{{ name }}-delete formset-delete-row grow-0">
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="{{ name }}-add formset-add-row"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="submit-row">
{#                    {% if can_translate %}{% include "i18n/_staff_edit_i18n.html" with original="Save" %}{% endif %}#}
{#                    <div class="itrans" data-msgid="Save"></div>#}
                    <input type="submit" class="itrans" data-msgid="Save" value="{% trans "Save" %}"/>
                </div>
            </form>
        </div>
        {% if registration.footer %}
        <div class="bg-white shadow-md rounded p-6">
        <div class="bg-gray-100 py-6 px-6 shadow-md rounded " data-msgid="{{ registration.footer }}" >
{#            {% if can_translate %}{% include "i18n/_staff_edit_i18n.html" with original=registration.footer %}{% endif %}#}
            {% trans registration.footer|default_if_none:"" as footer %}
            {{ footer|md }}
        </div>
        </div>
        {% endif %}
    </div>
</div>
