{% extends "admin/base.html" %}{% load smart_register smart static %}
{% block extrastyle %}
    {{ block.super }}
{% if project.debug %}
    <link rel="stylesheet" href="{% static "admin/debug.css" %}">
{% endif %}
    <link rel="stylesheet" href="{% static "admin/console.css" %}">

{% endblock %}
{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}
{% block userlinks %}{{ block.super }}
    {% if enable_switch %} / {% smart_toggler %}{% endif %}
    {% for page in  extra_pages %}/ <a href="{{ page.1 }}">{{ page.0 }}</a>{% endfor %}
{% endblock %}

{% block branding %}
    {% if config.MAINTENANCE_MODE %}
        <div style="color:yellow;font-weight: bold;padding: 3px">
            <a href="{% url "admin:constance_config_changelist" %}">MAINTENANCE MODE ACTIVE</a>
        </div>
    {% endif %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ project.env }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
{% block footer %}
    {{ block.super }}
    <div style="margin-bottom: 10px; text-align: center; border-top: 1px solid black; padding-top: 4px;">
        <form action="{% url "set_language" %}" method="post" name="setLocale">
            {% csrf_token %}
            {{ project.build_date }} - {{ project.version }} - {{ LANGUAGE_CODE }}
            <input type="hidden" name="next" value="{{ request.path }}">
            <select name="language" onchange="setLocale.submit()">
                {% for k,v in LANGUAGES %}
                    <option value="{{ k }}" {% if k == LANGUAGE_CODE %}selected{% endif %}>{{ v }}</option>{% endfor %}
            </select>
        </form>
    </div>
{% endblock %}
