{% extends "admin/base_site.html" %}{% load static i18n %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">
    <script type="text/javascript" src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a> &rsaquo;
        <a href="{% url 'admin:console' %}">{% translate 'Console' %}</a>
        {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
{% endblock %}
{% block content %}
    <div class="console module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
        <div class="changelist-form-container">
            <form method="POST">
                {% csrf_token %}
                <table>
                    {{ form }}
                </table>
                <table>
                    <tr>
                        <td>
                        </td>
                    </tr>
                </table>
                <div class="submit-row">
                <input type="submit" value="Execute">
                </div>
            </form>
        </div>
        <div id="changelist-filter" class="console-buttons">
            <ul class="submit-row">
                <li><a class="button" href="{% url "admin:constance_config_changelist" %}">Constance</a></li>
                <li><a class="button" href="{% url "admin:flags_flagstate_changelist" %}">Flags</a></li>
                <li><a class="button" href="{% url "admin:smart-sysinfo-admin" %}">System Infos</a></li>
                <li><a class="button" href="{% url "admin:loaddata" %}">Loaddata</a></li>
                <li><a class="button" href="{% url "admin:dumpdata" %}">Dumpdata</a></li>
                <li><a class="button" href="{% url "admin:redis_cli" %}">Redis CLI</a></li>
                <li><a class="button" href="{% url "admin:sql" %}">SQL</a></li>
            </ul>
        </div>
    </div>
{% endblock content %}
