{% extends "admin/console.html" %}{% load static i18n %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a> &rsaquo;
        <a href="{% url 'admin:console' %}">{% translate 'Console' %}</a>
        &rsaquo; Migrations
    </div>
{% endblock %}
{% block content %}
    <div id="changelist">
        <div class="changelist-form-container">
<pre>
{{stdout}}
</pre>
        </div>
        <div id="changelist-filter" class="console-buttons">
        </div>
    </div>
{% endblock content %}
