{% extends "admin/console.html" %}{% load static i18n %}
{#{% block extrastyle %}#}
{#    {{ block.super }}#}
{#    <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">#}
{#{% endblock %}#}
{% block content %}
    <div class="redis-cli" id="changelist">
        <div class="changelist-form-container">
            <form method="POST">
                {% csrf_token %}
                <table>
                    {{ form.command }}
                </table>
                <div class="submit-row">
                    <input type="submit" value="Execute">
                </div>
            </form>
            <pre class="code">
        {% for line in stdout %}
 {{ forloop.counter }}: {{ line.decode }}{% endfor %}
        </pre>
        </div>
        <div id="changelist-filter">
            <ul class="submit-row">
                <li><a class="button" href="https://redis.io/commands/">Commands</a></li>
            </ul>
            <ul class="submit-row">
                <li><a class="button redis-cli-command" href="#">FLUSHALL ASYNC</a></li>
                <li><a class="button redis-cli-command" href="#">KEYS *</a></li>
                <li><a class="button redis-cli-command" href="#">CONFIG GET *</a></li>
            </ul>
        </div>
    </div>
    <script>
        $(".redis-cli-command").on("click", function () {
            $("#id_command").val($(this).text());
            $("FORM").submit();
        });
    </script>
{% endblock content %}
