{% extends "admin/console.html" %}{% load static i18n %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">
{% endblock %}
{% block content %}
    <div class="redis-cli" id="changelist">
        <div class="changelist-form-container">
            <form method="POST">
                {% csrf_token %}
                <table>
                    {{ form.command }}
                </table>
                <div class="submit-row">
                    <input type="submit" value="Execute">
                </div>
            </form>
            <pre class="code">
        {% for line in stdout %}
            {{ line.decode }}{% endfor %}
        </pre>
        </div>
    </div>
{% endblock content %}
