<span class="staff-editor staff-tooltip">
    <span class="tooltiptext text-lower">
        <p><span class="label">Module</span> {{ registration.name }}</p>
        <p><span class="label">Locale</span> {{ registration.locale }}</p>
        <p><span class="label">Version</span> {{ registration.version }}</p>
        <p><span class="label">Validator</span> {{ registration.validator }}</p>
    </span>
    <a target="_edit" class="module"
       href="{% url "admin:registration_registration_change" registration.pk %}">
    </a>
</span>
{% if registration.validator %}
{% include "registration/_staff_edit_validator.html" with validator=registration.validator %}
{% endif %}
