{% load static itrans %}{% if user.is_staff %}
    <div class="fixed flex staff-toolbar">
        <div class="flex-shrink block hidden lg:inline-flex">
            {% trans "Version" %}: {{ project.version|slice:':7'|join:'' }}
        </div>
        <div class="flex-shrink block hidden lg:inline-flex">
            {% trans "Build date" %}: {{ project.build_date }}
        </div>

        <span class="flex-grow block inline-flex">
            {{ project.env }}
        </span>
        <div class="hidden md:inline-flex ">
            <a href="{% url "admin:index" %}">Admin</a>
        </div>
        <input id="staff-editor" type="checkbox" class="ml-2 mt-1 cursor-pointer">
    </div>
{% endif %}
