<span class="staff-editor staff-tooltip">
<span class="tooltiptext text-lower">
    <p><span class="label">Form</span>{{ form.flex_form.name }}</p>
    <p><span class="label">Version</span>{{ form.flex_form.version }}</p>
    <p><span class="label">Validator</span> {{ form.validator }}</p>
</span>
    <a target="_edit" class="form"
       href="{% url "admin:core_flexform_change" form.flex_form.pk %}">
    </a>
</span>
{% if form.flex_form.validator %}
    {% include "registration/_staff_edit_validator.html" with validator=form.flex_form.validator %}
{% endif %}
