{% extends "base.html" %}{% load itrans static %}
{% block head %}
    {{ block.super }}
    <script src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
    <script defer src="{% static 'i18n/i18n.min.js' %}"></script>
{% endblock head %}

{% block body %}
    {% csrf_token %}
    <div class="py-12 text-center">
        <div class="text-3xl">
            {% with msg="Registration successful" %}
            <span data-msgid="{{ msg }}">{% trans msg %}</span>
            {% endwith %}
            <pre class="text-2xl p-5 registration-id">{{ record.unicef_id }}</pre>
        </div>
        {% if config.QRCODE %}
            <div class="flex flex-row justify-center items-center">
                <img width="300" height="300" src="data:image/png;base64,{{ qrcode }}" alt="Red dot"/>
            </div>
            {% with msg="Please save your registration ID or take a screenshot of this QR code." %}
            <div data-msgid="{{ msg }}" class="text-xl itrans">{% trans msg %}</div>
            {% endwith %}
        {% else %}
            {% with msg="Please save your registration ID." %}
            <div data-msgid="{{ msg }}" class="text-xl itrans">{% trans msg %}</div>
            {% endwith %}
        {% endif %}
        {% with msg="This info will allow faster follow up in case of support request." %}
        <div data-msgid="{{ msg }}" class="text-xl itrans">{% trans msg %}</div>
        {% endwith %}
        {% if config.SHOW_REGISTER_ANOTHER %}
            <div class="text-center mt-10 pt-10">
                <a href="{% url "index" %}" data-msgid="register another household"
                   class="itrans w-full text-white capitalize bg-indigo-500 border-0 py-4 px-8 focus:outline-none hover:bg-indigo-600 rounded text-center text-xl">
                    {% trans "register another household" %}
                </a>
            </div>
        {% endif %}
    </div>
{% endblock body %}
{% block footer %}
    {{ block.footer }}
    <script defer src="{% static 'i18n/i18n_edit.js' %}"></script>
{% endblock footer %}
