{% extends "base.html" %}{% load smart_register l10n static itrans http2 %}
{% block head %}
    <meta name="Description" CONTENT="Module Version: {{ dataset.version }} - Form version: {{ form.flex_form.version }}">
    <link rel="preload" as="image" href="{% http2static "loading.gif" %}" />
    <script src="{% url 'javascript-catalog' dataset.locale %}"></script>
    <script defer src="{% static 'i18n.min.js' %}"></script>
    <script src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
    <script src="https://browser.sentry-cdn.com/5.30.0/bundle.min.js"
            integrity="sha384-V+jCLoAVKKml0VanRLGJGAdKk+Lzo1kRFe079J0majdfeGabOd32KG/2adGnr4N0"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"
            integrity="sha512-wT7uPE7tOP6w4o28u1DN775jYjHQApdBnib5Pho4RB0Pgd9y7eSkAV1BTqQydupYDB9GBhTcQQzyNMPMV3cAew=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {{ media }}
{% endblock head %}
{% block header %}
{#    {% include "registration/_spinner.html" %}#}
    {{ block.super }}
    {% if dataset.languages|length > 1 %}
    <div class="float-right absolute hidden">
        {% include "i18n/_select_language.html" with languages=dataset.languages %}
    </div>
    {% endif %}
{% endblock %}

{% block staff-toolbar %}
    {% include "registration/_staff_toolbar.html" %}
{% endblock staff-toolbar %}

{% block body %}
    <div class="min-h-screen flex justify-center bg-gray-100 pb-10">
        <div class="w-full lg:w-1/2 mt-5">
            {% if invalid %}
                <div class="mb-10 w-full text-capitalize m-auto text-center alert-message text-xl border rounded">
                    {% trans "please fix the errors below" %}
                </div>
                <ul class="block errorlist">{% for e in errors %}
                    {% for msg in e %}
                        <li>{{ msg }}</li>
                    {% endfor %}
                {% endfor %}</ul>
            {% endif %}
            {% if user.is_staff %}
                {% include "registration/_staff_edit_module.html" %}
            {% endif %}
            {% if dataset.intro %}
                <div class="py-6 px-6 my-6 bg-white shadow-md rounded">
                    <div class="intro">
                        {{ dataset.intro|default_if_none:""|markdown }}
                    </div>
                </div>
            {% endif %}
            <div class="bg-white shadow-md rounded px-2 sm:px-8 pt-6 pb-8 mb-4">
                {{ form.non_field_errors }}
                {% if user.is_staff %}
                    {% include "registration/_staff_edit_form.html" %}
                {% endif %}
                <form class="w-full" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-container" data-page="0">
                        {% for field in form %}{% include "registration/_fieldset.html" %}{% endfor %}
                    </div>
                    {% for name, formset in formsets.items %}
                        {{ formset.non_form_errors }}
                        {% formset_config formset as config %}
                        <div class="formset-config">{{ config|json_script:name }}</div>
                        <div class="shadow-md rounded bg-gray-100 p-2 sm:p-4" data-page="{{ forloop.counter }}">
                            <div class="w-full formset {{ formset.fs.advanced.smart.container.class }}"
                                 {% include "django/forms/widgets/attrs.html" with widget=formset.fs.advanced.smart.container.html_attrs %}>
                                {% if user.is_staff %}
                                    {% include "registration/_staff_edit_formset.html" %}
                                {% endif %}
                                {% if formset.fs.title %}
                                    <div class="w-full mt-4 text-sm leading-7 text-gray-500 font-regular i18n uppercase text-center title">
                                        {% if user.is_staff %}{% include "i18n/_staff_edit_i18n.html" with original=formset.fs.title %}{% endif %}
                                        {% trans formset.fs.title %}
                                    </div>
                                {% endif %}
                                {% if formset.fs.description %}
                                    <div class="w-full mt-4 text-sm leading-7 i18n text-gray-800 i18n font-regular">
                                        {% if user.is_staff %}{% include "i18n/_staff_edit_i18n.html" with original=formset.fs.description %}{% endif %}
                                        {% trans formset.fs.description|md %} }}
                                    </div>
                                {% endif %}
                                <div class="flex flex-col">
                                    <div class="w-100 forms">
                                        {{ formset.management_form }}
                                        {% for form in formset %}
                                            <div class="w-full my-5 p-3 border border-gray-400 form-container {{ formset.prefix }}">
                                                {% if user.is_staff %}
                                                    {% include "registration/_staff_edit_form.html" %}
                                                {% endif %}
                                                {% for field in form %}
                                                    {% include "registration/_fieldset.html" with counter=forloop.counter %}
                                                {% endfor %}
                                                <div class="flex">
                                                    <div class="flex-auto "></div>
                                                    <div class="{{ name }}-delete grow-0"></div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        <div class="{{ name }}-add"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="submit-row">
                        {% if user.is_staff %}{% include "i18n/_staff_edit_i18n.html" with original="Save" %}{% endif %}
                        <input type="submit" value="{% trans "Save" %}"/>
                    </div>
                </form>
            </div>
            <div class="py-6 px-6 my-6 bg-white shadow-md rounded">
                {% if user.is_staff %}{% include "i18n/_staff_edit_i18n.html" with original=dataset.footer %}{% endif %}
                {{ dataset.footer|markdown }}
            </div>
        </div>
    </div>
{% endblock body %}
{% block footer %}
    {% if dataset.advanced.smart.wizard %}<script src="{% static "wizard.min.js" %}"></script>{% endif %}
    <div class="flex justify-center text-xs footer m-auto pt-1 pb-2 border-t-2 text-gray-400 border-gray-400">
        {{ project.build_date }} - {{ LANGUAGE_CODE }}
    </div>
    <script>var VERSION="{{ project.version }}";var DSN="{{ project.sentry_dsn }}";</script>
    <script src="{% static "page.min.js" %}"></script>

{% endblock footer %}
