{% extends "base.html" %}{% load smart_register formset l10n static itrans http2 %}
{% block head %}
    <meta name="Description" CONTENT="Module Version: {{ dataset.version }} - Form version: {{ form.flex_form.version }}">
    <link rel="preload" as="image" href="{% http2static "loading.gif" %}" />
    <script src="{% url 'javascript-catalog' dataset.locale %}"></script>
    <script defer src="{% static 'i18n.min.js' %}"></script>
    <script src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
    <script src="https://browser.sentry-cdn.com/5.30.0/bundle.min.js"
            integrity="sha384-V+jCLoAVKKml0VanRLGJGAdKk+Lzo1kRFe079J0majdfeGabOd32KG/2adGnr4N0"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"
            integrity="sha512-wT7uPE7tOP6w4o28u1DN775jYjHQApdBnib5Pho4RB0Pgd9y7eSkAV1BTqQydupYDB9GBhTcQQzyNMPMV3cAew=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {{ media }}
{% endblock head %}
{% block header %}
    {{ block.super }}
    {% if dataset.locales %}
    <div class="float-right absolute hidden">
        {% include "i18n/_select_language.html" with languages=dataset.languages %}
    </div>
    {% endif %}
{% endblock %}

{% block staff-toolbar %}
    {% include "registration/_staff_toolbar.html" %}
{% endblock staff-toolbar %}

{% block body %}

    {% include "smart/_form.html" %}

{% endblock body %}
{% block footer %}
    {% if dataset.advanced.smart.wizard %}<script src="{% static "wizard.min.js" %}"></script>{% endif %}
    <div class="flex justify-center text-xs footer m-auto pt-1 pb-2 border-t-2 text-gray-400 border-gray-400">
        {{ project.build_date }} - {{ LANGUAGE_CODE }}
    </div>
    <script>var VERSION="{{ project.version }}";var DSN="{{ project.sentry_dsn }}";</script>
    <script src="{% static "page.min.js" %}"></script>
{% endblock footer %}
