{% load itrans smart_register %}<fieldset class="{{ field.name }} {{ field|smart:"fieldset" }}">
    {% if user.is_staff %}
        {% include "registration/_staff_edit_field.html" %}
    {% endif %}

    {% if field.field.flex_field.advanced.smart.question %}
            <label for="question_{{ field.auto_id }}" class="cursor-pointer">
                <input id="question_{{ field.auto_id }}"
                       class="question-visibility {% if field.errors %}error{% endif %}"
                       data-target="field-container-{{ field.name }}"
                       {% if field.errors %} checked {% endif %}
                       type="checkbox">
                {% trans field.field.flex_field.advanced.smart.question|md %}
{#                {{ field.field.flex_field.advanced.smart.question|md }}#}
            </label>
    {% endif %}
    <div class="mb-4 field-container field-container-{{ field.name }} mb-5 ">
        <label class="block uppercase tracking-wide text-gray-700 font-bold mb-2"
               for="{{ field.auto_id }}">{{ field.label|md }}
            {% if field.field.required %}
                <span class="lowercase font-thin required text-xs">({% trans "required" %})</span>{% endif %}
        </label>
        <div class="text-sm	">{{ field|smart:"description" }}</div>
        {{ field.errors }}
        {{ field }}
        <div class="text-xs	italic">{{ field|smart:"hint" }}</div>
    </div>
</fieldset>
