{% load static %}{% if user.is_staff %}
    <div class="fixed flex staff-toolbar">
        <div class="flex-shrink block hidden lg:inline-flex">
            Version: {{ project.version|slice:':7'|join:'' }}
        </div>
        <div class="flex-shrink block hidden lg:inline-flex">
            Build date: {{ project.build_date }}
        </div>

        <span class="flex-grow block inline-flex">
            {{ project.env }}
        </span>
        <div class="hidden md:inline-flex ">
            <span>Edit: </span>
            <a href="{% url "admin:registration_registration_change" dataset.pk %}">Module</a>
            <a href="{% url "admin:core_flexform_change" dataset.flex_form.pk %}">Form</a>
            {% for name, formset in formsets.items %}
                <a href="{% url "admin:core_flexform_change" formset.fs.flex_form.pk %}">{{ name }}</a>
            {% endfor %}
            <a href="{% url "admin:index" %}">Admin</a>
        </div>
        <input id="staff-editor" type="checkbox" class="ml-2 mt-1 cursor-pointer">
    </div>
{% endif %}
