{% load static %}{% if user.is_staff %}
    <div class="fixed flex staff-toolbar">
        <div class="flex-shrink block hidden lg:inline-flex">
            Version: {{ smart.version|slice:':7'|join:'' }}
        </div>
        <div class="flex-shrink block hidden lg:inline-flex">
            Build date: {{ smart.build_date }}
        </div>

        <span class="flex-grow block inline-flex">
            {{ smart.env }}
        </span>
        <div class="inline-flex">
            <span>Edit: </span>
            <a target="_edit" href="{% url "admin:registration_registration_change" dataset.pk %}">Module</a>
            <a target="_edit" href="{% url "admin:core_flexform_change" dataset.flex_form.pk %}">Form</a>
            {% for name, formset in formsets.items %}
                <a target="_edit"
                   href="{% url "admin:core_flexform_change" formset.fs.flex_form.pk %}">{{ name }}</a>
            {% endfor %}
            <a target="_edit" href="{% url "admin:index" %}">Admin</a>
            <input id="staff-editor" type="checkbox" class="mt-1 cursor-pointer">
        </div>
    </div>
    <script>
        (function ($) {
            $(function () {
                $editCheckBox = $("#staff-editor");
                var setEditorIcons = function (onOff) {
                    if (onOff) {
                        $(".staff-editor").show();
                    } else {
                        $(".staff-editor").hide();
                    }
                };
                $editCheckBox.on("click", function () {
                    setEditorIcons($editCheckBox.is(":checked"));
                    Cookies.set("staff-editor", $editCheckBox.is(":checked"));
                });
                var pref = Cookies.get("staff-editor") === "true";
                $editCheckBox.prop( "checked", pref );
                setEditorIcons(pref);
            });

        })($);
    </script>
{% endif %}
