{% extends "base.html" %}{% load smart_register %}
{% block body %}
    <div class="registration">
        <div class="title">{{ dataset.name }}</div>
        <form method="post">
            {% csrf_token %}
            <table>
                {{ form }}
            </table>
            {% for name, formset in formsets.items %}
                <table id="{{ name }}" class="formset" data-fs="{{ name }}">
                    <tr>
                        <td>
                            <div class="title">{{ name }}</div>
                            <div class="managementForm">{{ formset.management_form }}</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="forms {{ name }}">
                            {% for frm in formset %}
                                <table class="form">
                                    {{ frm }}
                                    <tr>
                                        <td></td>
                                        <td>
                                            <input type="button" data-fs="{{ name }}" class="remove"
                                                   value="Remove record">
                                        </td>
                                    </tr>
                                </table>
                            {% endfor %}
                        </td>
                    </tr>
                {% if formset.fs.dynamic %}
                    <tr>
                        <td></td>
                        <td><input type="button" class="btn add" value="Add record"></td>
                    </tr>
                {% endif %}
                </table>

            {% endfor %}
            <div class="submit-row">
                <input type="submit" class="btn save" value="Save">
            </div>
        </form>
        {% for name, formset in formsets.items %}
            <script type="form-template" id="{{ name }}-empty">
                <table class="form" data-index="__prefix__">
                    {% escapescript %}{{ formset.empty_form.as_table }}{% endescapescript %}
                    <tr>
                        <td></td>
                        <td>
                            <input type="button" data-fs="{{ name }}"
                                   class="btn remove" value="Remove {{ name }}">
                        </td>
                    </tr>
                </table>
            </script>
        {% endfor %}
        <script>
            var pluginName = "formset";
            var Formset = function (el) {
                var self = this;
                var targetName = $(el).data("fs");
                var $target = $("#" + targetName);
                var $managementForm = $target.find(".managementForm");
                var addButton = $target.find("input[type=button].add");
                {#var $forms = $target.find("table.form");#}
                var $emptyForm = $("#" + targetName + "-empty");

                var managementFormField = function (name) {
                    return $managementForm.find("input[name=" + targetName + "-" + name + "]");
                };
                self.reindex = function () {
                    $target.find("table.form").each(function (i, e) {
                        var c = $(e).html()
                                    .replace(new RegExp("__prefix__", "g"), i)
                                    .replace(new RegExp(targetName + "-\n+", "g"), targetName + "-" + i);
                        {# .replace(new RegExp("<\\\\/script>", "g")); #}
                        $(e).replaceWith(c);
                    });
                };
                self.bindRemove = function () {
                    var $remButton = $target.find("input[type=button].remove").last();
                    $remButton.on("click", function () {
                        var newIndex = $target.find("table.form").length - 1;
                        managementFormField("TOTAL_FORMS").val(newIndex);
                        var $form = $(this).closest("table.form");
                        $form.remove();
                        self.reindex();
                    });
                };
                addButton.on("click", function () {
                    var newIndex = $target.find("table.form").length;
                    managementFormField("TOTAL_FORMS").val(newIndex + 1);
                    var newFormHtml = $emptyForm.html()
                                                .replace(new RegExp("__prefix__", "g"), newIndex);

                    $target.find("td.forms." + targetName).append(newFormHtml);
                    self.bindRemove();
                });
                return self;
            };
            Formset.all = [];
            Formset.reindex = function () {
                for (var fs of Formset.all) {
                    fs.reindex();
                }
            };
            Formset.getOrCreate = function (el, options) {
                var rev = $(el).data(pluginName);
                if (!rev) {
                    rev = new Formset(el);
                    rev.bindRemove();
                    Formset.all.push(rev);
                }
                return rev;
            };

            $(".formset").each(function (i, e) {
                return Formset.getOrCreate(this, {});
            });
            $("form").on("submit", function (e) {
            });
        </script>
    </div>
    {{ form.media }}
    {% for name, formset in formsets.items %}
        {{ formset.media }}
    {% endfor %}
{% endblock body %}
