{% extends config.BASE_TEMPLATE %}
{% block body %}
    <div class="py-12 text-center">
        {% if valid %}
            <div class="text-3xl">
                Registration successfully verified
                <pre class="text-2xl p-5">
HOPE-{{ record.timestamp.year }}{{ record.timestamp.month }}{{ record.timestamp.day }}{{ record.id }}</pre>
            </div>
        {% else %}
            <div class="text-3xl">
                We have some issues validating your data
                <pre class="text-2xl p-5">
HOPE-{{ record.timestamp.year }}{{ record.timestamp.month }}{{ record.timestamp.day }}{{ record.id }}</pre>
            </div>

        {% endif %}
    </div>
{% endblock body %}
