{% extends "base.html" %}
{% load smart_register l10n linebreakless %}


{% block body %}
    {{ form.media }}
    <div class="min-h-screen flex justify-center bg-gray-100">
        <div class="w-full lg:w-1/2">
            <div class="text-center mb-16">
                <h3
                        class="pt-8 text-indigo-600 text-4xl leading-normal font-extrabold tracking-tight text-gray-900"
                >
                    {{ dataset.name }}
                </h3>
            </div>
            <div id="app" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                <div v-html="test"></div>
                <form class="w-full" method="post">
                    {% csrf_token %} {% for field in form %}
                    <div class="mb-4">
                        <label
                                class="block uppercase tracking-wide text-gray-700 font-bold mb-2"
                                for="{{ field.auto_id }}"
                        >{{ field.label }}</label
                        >
                        {{ field }}
                    </div>
                {% endfor %}
                    <div v-for="(formset, index) in formsets" :key="'formset'+index">
                        <div v-html="formset.managementForm">
                        </div>
                        <div class="shadow-md rounded bg-gray-100 p-4">
                            <div v-for="(form, indexForm) in formset.forms" :key="'form'+form.key">
                                <div v-html="form.form"></div>
                                <input type="button" @click="removeForm(index,indexForm)"
                                       class="btn remove bg-white hover:bg-gray-100 text-red-400 font-semibold py-2 px-4 border border-red-400 rounded shadow"
                                       value="Remove {{ name }}">
                            </div>
                            <input
                                    type="button"
                                    class="add bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
                                    value="Add record"
                                    @click="addEmptyForm(index)"
                            />
                        </div>
                    </div>

                    {{ form.errors }}
                    <div class="submit-row">
                        <input
                                type="submit"
                                class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                                value="Save"
                        />
                    </div>
                </form>
            </div>
            {% for name, formset in formsets.items %}
                <script type="form-template" id="{{ name }}-empty">
                    <div class="form w-full" data-index="__prefix__">
                        {% escapescript %}{{ formset.empty_form.as_table }}{% endescapescript %}
                        <input type="button" data-fs="{{ name }}"
                               class="btn remove bg-white hover:bg-gray-100 text-red-400 font-semibold py-2 px-4 border border-red-400 rounded shadow"
                               value="Remove {{ name }}">
                    </div>
                </script>
            {% endfor %}
            <script>

            </script>
        </div>
    </div>
    {% for name, formset in formsets.items %}
        {{ formset.media }}
    {% endfor %}
    <script>
        formestTemplates = [
            {% for name, formset in formsets.items %}
                {
                    html: '{% linebreakless %}{% escapescript %}{{ formset.empty_form.as_table }}{% endescapescript %}{% endlinebreakless %}',
                    name: '{{name}}'
                },
            {% endfor %}
        ]
        filledFormsets = [
            {% for name, formset in formsets.items %}

                {
                    forms: [{% for frm in formset %}'{% linebreakless %}{{ frm }}{% endlinebreakless %}',{% endfor %}],
                    managementForm: '{% linebreakless %}{{ formset.management_form }}{% endlinebreakless %}',
                    name: '{{name}}'
                },
            {% endfor %}
        ]
    </script>
    <script>
        function setIndex(index, html, targetName) {
            return html.replace(new RegExp("__prefix__", "g"), index)
                .replace(new RegExp(targetName + "-\n+", "g"), targetName + "-" + index);
        }

        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
                test: '[[test2]]',
                test2: 'xDDDD',
                formsets: filledFormsets.map((item) => ({
                    ...item,
                    forms: item.forms.map(form => ({form, key: crypto.randomUUID()}))
                })),
            },
            methods: {
                addEmptyForm: function (formsetIndex) {
                    let template = formestTemplates[formsetIndex]
                    let html = setIndex(this.formsets[formsetIndex].forms.length, template.html, template.name)
                    this.formsets[formsetIndex].forms.push({form: html, key: crypto.randomUUID()})
                    $("input[name=" + template.name + "-TOTAL_FORMS]").val(this.formsets[formsetIndex].forms.length)
                },
                removeForm: function (formsetIndex, formIndex) {
                    console.log('this.formsets', this.formsets[formsetIndex].forms)
                    let forms = this.formsets[formsetIndex].forms
                    let name = this.formsets[formsetIndex].name
                    forms.splice(formIndex, 1)
                    for (let i = formIndex; i < forms.length; i++) {
                        forms[i] = setIndex(i, forms[i], name)
                    }
                    $("input[name=" + name + "-TOTAL_FORMS]").val(this.formsets[formsetIndex].forms.length)
                },
            }
        });
    </script>
{% endblock body %}
