{% extends "base.html" %}{% load i18n %}
{% block body %}
    <div class="flex justify-center mx-10 p-10 bg-gray-100">
        <ul class="errorlist nonfield rounded px-5">
            {% for message in messages %}
                <li><span class="m-5 p-5">{{ message }}</span></li>
            {% endfor %}
            {% for message in form.non_field_errors %}
                <li><span class="m-5 p-5">{{ message }}</span></li>
            {% endfor %}
        </ul>
    </div>
    <section class="text-gray-700 body-font min-h-screen ">
        <div class="flex justify-center bg-gray-100">
            <div class="mx-10">
                {% if user_has_token or config.LOGIN_LOCAL %}
                    <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
                        <div class="form-row">
                            {{ form.username.errors }}
                            {{ form.username.label_tag }} {{ form.username }}
                        </div>
                        <div class="form-row">
                            {{ form.password.errors }}
                            {{ form.password.label_tag }} {{ form.password }}
                            <input type="hidden" name="next" value="{{ next }}">
                        </div>
                        <div class="text-center my-10">
                            <input type="submit" class="px-10 py-2 button btn-large" value="Login">
                        </div>
                    </form>
                {% endif %}
                <hr>
                {% if user_has_token or config.LOGIN_SSO %}
                    <div class="submit-row text-center mt-10">
                        <a href="{% url 'social:begin' 'azuread-tenant-oauth2' %}" style="padding: 10px" class="button">
                            Sign In With Azure
                        </a>
                    </div>
                {% endif %}
                {#            </div>#}
            </div>
        </div>
        {#        <div class="flex justify-center bg-gray-100">#}
        {#            <div class="mx-10">#}
        {#                <form method="post">#}
        {#                    {% csrf_token %}#}
        {#                    <div class="form-container" data-page="0">#}
        {#                        <fieldset class="fieldset">#}
        {#                            {% for field in form %}#}
        {#                                <div class="mb-4 field-container field-container-{{ field.name }} mb-5 ">#}
        {#                                    <label class="uppercase tracking-wide text-gray-700 font-bold mb-2"#}
        {#                                           for="{{ field.auto_id }}">{% trans field.label %}#}
        {#                                            <span class="lowercase font-thin required text-xs">*</span>#}
        {#                                    </label>#}
        {#                                    <span class="errors">{{ field.errors }}</span>#}
        {#                                    {{ field }}#}
        {#                                </div>#}
        {#                            {% endfor %}#}
        {#                        </fieldset>#}
        {#                        <input type="submit" class="button btn-default" value="Login">#}
        {#                    </div>#}
        {#                </form>#}
        {#            </div>#}
    </section>
{% endblock %}
