{% extends "admin_extra_buttons/action_page.html" %}{% load static itrans aurora %}
{% block action-content %}
    {#    <link href="https://unpkg.com/tailwindcss@1.9.6/dist/tailwind.min.css" rel="stylesheet">#}
    <link rel="stylesheet" href="{% static "field_atttributes.css" %}">
    {#    <link href="{% static "staff-toolbar.css" %}" type="text/css" media="all" rel="stylesheet">#}
    {#    <link rel="stylesheet" href="{% static "admin/debug.css" %}">#}
    <script src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
    <iframe style="width: 100%" src="{% url "admin:core_flexformfield_widget" original.pk %}">

    </iframe>
    <table>
        <tr>
            <td>

                <form method="post" id="fieldAttrForm">
                    {% csrf_token %}
                    <fieldset>
                        <h2>Field attributes</h2>
                        <table>
                            {{ form_attrs }}
                        </table>
                    </fieldset>
                    <fieldset>
                        <h2>Widget attributes</h2>
                        <table>
                            {{ form_widget }}
                        </table>
                    </fieldset>
                    <fieldset>
                        <h2>Smart attributes</h2>
                        <table>
                            {{ form_smart }}
                        </table>
                    </fieldset>
                    <div>
                        <input style="background-color: cornflowerblue" type="submit" value="Submit">
                    </div>
                </form>
            </td>
            <td>


            </td>
        </tr>
    </table>
    <script>
        {#const roomName = JSON.parse(document.getElementById('room-name').textContent);#}
       const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/editor/field/'
            + {{ original.pk }}
            + '/'
        );
        chatSocket.onmessage = function (e) {
            console.log(111.2, e);
            {#const data = JSON.parse(e.data);#}
            {#console.log(111111, data);#}
        };

        function update() {
             var formData = $("form").serialize();
            {# $.post(".", formData, function (data) { #}
            {#    console.log(11111111, data) #}
            {# }); #}
            console.log(11111111, formData);
             chatSocket.send(JSON.stringify({
                'message': formData
            }));
        }

        $('input,textarea').on('keyup', function () {
            clearTimeout($.data(this, 'timer'));
            var wait = setTimeout(update, 500);
            $(this).data('timer', wait);
        });
    </script>
{% endblock action-content %}
