{% extends "admin_extra_buttons/action_page.html" %}{% load static itrans aurora %}
{% block action-content %}
    <link href="https://unpkg.com/tailwindcss@1.9.6/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "base.css" %}">
    <link href="{% static "staff-toolbar.css" %}" type="text/css" media="all" rel="stylesheet">
    <link rel="stylesheet" href="{% static "admin/debug.css" %}">
    <script src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>

    {{ error }}
    {{ form.media }}
    <table>
        <tr>
            <th>Label</th>
            <td>{{ original.label }}</td>
        </tr>
        <tr>
            <th>Required</th>
            <td>{{ original.required }}</td>
        </tr>
        {% for k,v in debug_info.items %}
            <tr>
                <th>{{ k }}</th>
                <td>{{ v }}</td>
            </tr>
        {% endfor %}

    </table>

    <form method="post" id="registrationForm">
        {% csrf_token %}
        {% for field in form %}{% include "registration/_fieldset.html" %}{% endfor %}
    <div lass="submit-row">
        <input style="background-color: cornflowerblue" type="submit" value="Submit">
    </div>
    </form>
{% endblock action-content %}
