{% load static feature_flags http2 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="version" content="{{ project.version|slice:':7'|join:'' }}">
    <meta name="date" content="{{ project.build_date }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block meta %}{% endblock meta %}
    <title>Registration</title>
    <link href="https://unpkg.com/tailwindcss@1.9.6/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "base.css" %}">
    <link href="{% static "staff-toolbar.css" %}" type="text/css" media="all" rel="stylesheet">
    <link rel="stylesheet" href="{% static "admin/debug.css" %}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    {% block cache %}{#<script src="{% static "cache.min.js" %}"></script>#}{% endblock %}

    {% block head %}{% endblock head %}
</head>
<body class="min-h-screen">
<script>
    const LANGUAGE_CODE = "{{ LANGUAGE_CODE }}";
</script>
{% block header %}
    <header class="text-gray-700 body-font border-b border-gray-200 header">
        <div class="container-fluid w-100 mx-auto flex flex-wrap p-5 md:flex-row items-center">
            <div class="flex-none align-middle">
                <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="/">
                </a>
            </div>
            <div class="flex-grow"></div>
            <div>
                <img alt="hope logo" src="{% static "hope1.webp" %}" height="40">
            </div>
        </div>
    </header>
{% endblock %}
{% block body %}
{% endblock body %}
{% block footer %}{% include "_footer.html" %}

{% endblock %}

<script type="text/javascript">
  if ("serviceWorker" in navigator) {
      navigator.serviceWorker.register("/serviceworker.js", {
          scope: '/'
      }).then(function (registration) {
          console.log("Service worker registered");
      }, function (err) {
          console.log('django-pwa: ServiceWorker registration failed: ', err);
      });
       if (navigator.serviceWorker.controller) {
          console.log("Service worker installed");
      }
  } else {
      console.log("Service worker is not supported");
  }
</script>

<script>
  const prepareUrl = url => `http://localhost:8000${url}`

  const prepareFormData = dataObj => {
    const dataForm = new FormData();
    Object.keys(dataObj).map(key => {
      dataForm.append(key, dataObj[key])
    });

    return dataForm;
  }

  const sendData = (url, dataForm) => {
    const xhr = new XMLHttpRequest();
    xhr.open('POST', prepareUrl(url));
    xhr.send(dataForm);

    return xhr
  }

  if (navigator.onLine && localStorage.length > 0) {
    for (let i = 0; i < localStorage.length; i++) {

      const key = localStorage.key(i);
      if (key.startsWith("id")) {
        const dataObj = JSON.parse(localStorage.getItem(key));
        const url = dataObj.url;
        delete dataObj.url;

        const dataForm = prepareFormData(dataObj);

        const xhr = sendData(url, dataForm);

        xhr.addEventListener('load', () => {
          console.log("Data sent and response loaded.");
          localStorage.removeItem(key);
        });

        xhr.addEventListener('error', () => {
          console.log("Oops! Something went wrong.");
        });

      }
    }
  }

</script>

</body>
</html>
