{% if project.debug %}
    <div class="fixed flex staff-toolbar">
        <div class="inline-flex flex-shrink">&nbsp;&nbsp;&nbsp;Version: {{ project.version|slice:':7'|join:'' }}</div>
        <div class="inline-flex flex-shrink"> Build date: {{ project.build_date }}</div>
        <div class="inline-flex flex-grow"> {{ project.env }}</div>
        {% if request.user.is_staff %}<div class="inline-flex flex-shrink">
            <a target="_edit" href="{% url "admin:index" %}">Admin</a></div>{% endif %}
    </div>
{% endif %}
