{% if user.is_staff %}
    <div class="fixed flex staff-toolbar">
        <div class="inline-flex flex-shrink">&nbsp;&nbsp;&nbsp;Version: {{ smart.version|slice:':7'|join:'' }}</div>
         - 
        <div class="inline-flex flex-shrink"> Build date: {{ smart.build_date }}</div>
         - 
        <div class="inline-flex flex-grow"> {{ smart.debug }} {{ smart.env }}</div>
        <div class="inline-flex">
            <a target="mod" href="{% url "admin:registration_registration_change" dataset.pk %}">Edit Module</a> - 
            <a target="frm" href="{% url "admin:core_flexform_change" dataset.flex_form.pk %}">Edit Form</a> - 
            {% for name, formset in formsets.items %}
                <a target="name"
                   href="{% url "admin:core_flexform_change" formset.fs.flex_form.pk %}">Edit {{ name }}</a> - 
            {% endfor %}
            <a target="admin" href="{% url "admin:index" %}">Admin</a>
            &nbsp;&nbsp;&nbsp;
            <input id="staff-editor" type="checkbox" checked class="mt-1">
            &nbsp;&nbsp;&nbsp;
        </div>
    </div>
    <script>
        $("#staff-editor").on("click", function () {
            if ($(this).is(":checked")) {
                $(".staff-editor").show();
            } else {
                $(".staff-editor").hide();
            }
        });
    </script>
{% endif %}
