{% load static feature_flags %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="version" content="{{ project.version|slice:':7'|join:'' }}">
    {#    <meta name="release" content="{{ project.version }}">#}
    <meta name="date" content="{{ project.build_date }}">

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>

    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "base.css" %}">
    <link href="{% static "staff-toolbar.css" %}" type="text/css" media="all" rel="stylesheet">
    {% if project.debug %}
        <link rel="stylesheet" href="{% static "debug.css" %}">{% endif %}

    <script src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
    <script src="https://browser.sentry-cdn.com/5.30.0/bundle.min.js"
            integrity="sha384-V+jCLoAVKKml0VanRLGJGAdKk+Lzo1kRFe079J0majdfeGabOd32KG/2adGnr4N0"
            crossorigin="anonymous"></script>


    {% block head %}
    {% endblock head %}
</head>
<body class="min-h-screen dark">
{% block staff-toolbar %}{% include "_env_header.html" %}{% endblock %}
{% block header %}
    <header class="text-gray-700 body-font border-b border-gray-200 header">
        <div class="container-fluid w-100 mx-auto flex flex-wrap p-5 md:flex-row items-center">
            <div class="flex-none align-middle">
                <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="/">
                    {#      <object data="{% static "logo_uk.png" %}" class="mt-2" idth="100" height="40"> </object>#}
                </a>
            </div>
            <div class="flex-grow"></div>
            <div>
                <img alt="hope logo" src="{% static "hope.png" %}" style="height: 40px;" height="40">
            </div>
        </div>
    </header>
{% endblock %}
{% block body %}
{% endblock body %}

{% block footer %}{% include "_footer.html" %}{% endblock %}
<script>
    {% flag_enabled '§' as sentry %}
    {% if sentry %}
        Sentry.init({
            dsn: "{{ project.sentry_dsn }}",
            release: "{{ project.version }}",
            tracesSampleRate: 1.0,
            ignoreErrors: [
                "datepicker.inputField.after is not a function",
                "num.toString(...).padStart is not a function",
                "Unexpected token =>",
                "Unexpected identifier",
            ]
        });
    {% endif %}
</script>
</body>
</html>
