{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="version" content="{{ smart.version|slice:':7'|join:'' }}">
    <meta name="release" content="{{ smart.version }}">
    <meta name="date" content="{{ smart.build_date }}">

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>

    <link rel="stylesheet" href="{% static "base.css" %}">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    {% if smart.debug %}<link rel="stylesheet" href="{% static "debug.css" %}">{% endif %}

    <script src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
    <script
            src="https://browser.sentry-cdn.com/6.18.2/bundle.min.js"
            integrity="sha384-hxcWlK1seT59Ftk+5StsgedF3GKBtJGRKWf6YgKV8FJzYpTJHgVc/IBzleXnfYDI"
            crossorigin="anonymous"></script>

    {% block head %}
    {% endblock head %}
</head>
<body class="min-h-screen">
{% block staff-toolbar %}{% include "_env_header.html" %}{% endblock %}
{% block header %}
<header class="text-gray-700 body-font border-b border-gray-200">
   <div class="container mx-auto flex flex-wrap p-5 md:flex-row items-center">
      <div class="flex-none align-middle">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="/">
      <object data="{% static "unicef_icon.svg" %}" width="60" height="60"> </object>
      <span class="ml-3 text-xl">UNICEF</span>
      </a>
      </div>
       <div class="flex-grow"></div>
       <div>
       <img src="{% static "hope.jpg" %}" width="60">
       </div>
   </div>
</header>
{% endblock %}
{% block body %}
{% endblock body %}
{% block footer %}{% include "_footer.html" %}{% endblock %}
</body>
</html>
