{% extends "base.html" %}
{% block body %}
<header class="text-gray-700 body-font border-b border-gray-200">
   <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="/" target="_blank">
      <object data="../static/unicef_icon.svg" width="60" height="60"> </object>
      <span class="ml-3 text-3xl">UNICEF</span>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
         <a href="{% url "admin:index" %}" class="mr-5 hover:text-gray-900 text-3xl">Admin</a>
      </nav>
   </div>
</header>
<section class="text-gray-700 body-font">
   <div class="container mx-auto flex px-5 py-24 lg:flex-row md:flex-col-reverse items-center">
      <div class="lg:flex-grow w-full lg:w-1/2 lg:pr-24 lg:pr-16 flex flex-col md:items-start sm:text-center lg:text-left text-center mb-16 md:mb-0 items-center ">
         <h1 class="title-font sm:text-6xl text-3xl mb-4 font-medium text-gray-900">Help for the people of Ukraine
         </h1>
         <p class="mb-8 text-2xl leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            In quis augue a velit commodo posuere vitae non ipsum. Sed malesuada sed sem vel congue.
            Ut scelerisque metus sed suscipit dictum. Integer molestie faucibus ante vel lobortis. Nullam vulputate justo eget tortor congue, non consectetur ex placerat.
            Sed eget nibh rutrum risus sollicitudin lobortis eu a mauris.  Phasellus hendrerit tortor quis quam vehicula, at porttitor nisi congue. Quisque ut lacinia lectus. Maecenas dolor metus, consectetur eget laoreet vitae, semper sit amet orci.
         </p>
         <a href="{% url "register-last" %}" class="w-full text-white bg-indigo-500 border-0 py-4 px-8 focus:outline-none hover:bg-indigo-600 rounded text-center text-4xl">Registration</a>
      </div>
      <div class="lg:max-w-lg flex-col justify-center flex lg:w-full w-full">
         <img class="object-cover object-center rounded" alt="hero" src="../static/unicef_logo.jpeg">
      </div>
   </div>
</section>
{% endblock body %}
