{% extends config.BASE_TEMPLATE %}{% load static smart_register%}
{% block header %}{% endblock %}
{% block body %}
    <section class="text-gray-700 body-font">
        <div class="container mx-auto flex px-5 py-6 lg:py-24 flex-col-reverse lg:flex-row tems-center">
            <div class="lg:flex-grow w-full lg:w-1/2 lg:pr-24 lg:pr-16 flex flex-col md:items-start sm:text-center lg:text-left text-center mb-16 md:mb-0 items-center ">
                <div class="title-font text-2xl mb-4 font-medium text-gray-900">
                    Humanitarian Assistance to Families with Children
                </div>
                <ul class="text-justify ">
                    <li>Welcome, this page is meant to help UNICEF and its humanitarian partners to register families
                        with children in Ukraine who need humanitarian assistance inside Ukraine as a result of the war.
                    </li>
                    <li>UNICEF encourage all families with children who consider themselves in need to apply for
                        assistance through this service.
                    </li>
                    <li>Participating in this survey does not mean that you are entitled to assistance. UNICEF and
                        humanitarian partners will analyze the data for possible eligibility.
                    </li>
                    <li>
                        <ul class="list-disc list-inside">Currently UNICEF will assist

                            <li>large families, with three children or more and at least one of them below two years of age.</li>
                            <li>Single headed families with at least two children regardless of age</li>
                        As UNICEF receives more funds from its donors the criteria may be broaden. UNICEF encourages all families with children who consider themselves in need of cash assistance to register.
                        </ul>
                    </li>
                </ul>
                <div class="my-5 font-bold text-justify">
                    Upon clicking Consent and Register you agree that your personal data will be stored by
                    UNICEF and will be shared with private sector partners for payment,
                    Ministry of Social Protection of Ukraine and humanitarian partners to avoid multiple
                    assistance streams.
                </div>
                <div class="flex space-x-2 m-5 px-10">
                    {% for reg in buttons %}
                        {% link reg %}
                    {% endfor %}
                </div>
            </div>
{#            <div class="lg:max-w-lg flex-col justify-center sm:flex w-4/5 w-full w-full">#}
            <div class="m-auto w-1/4 flex-col">
                <img class="object-cover self-center object-center rounded" alt="logo" src="{% static "unicef_ukraine_logo.jpg" %}">
            </div>
        </div>
    </section>
{% endblock body %}
