{% extends "base.html" %}{% load static smart_register %}
{% block header %}{% endblock %}
{% block body %}
    <section class="text-gray-700 body-font landing">
        <div class="container mx-auto flex px-5 py-6 lg:py-24 flex-col-reverse lg:flex-row tems-center">
            <div class="lg:flex-grow w-full lg:w-1/2 lg:pr-24 lg:pr-16 flex flex-col md:items-start sm:text-center lg:text-left text-center mb-16 md:mb-0 items-center ">
                <div class="title-font text-2xl mb-4 font-medium text-gray-900">
                    Програма грошової допомоги від ЮНІСЕФ Спільно
                </div>
                <ul class="text-justify intro">
                    <li class="mb-5">Вітаємо! Ви на сторінці нової програми <strong>грошової допомоги від ЮНІСЕФ
                        «Спільно».</strong></li>

                    <li>ЮНІСЕФ і партнери запустили цю програму, щоб додатково підтримати українців, постраждалих через
                        війну.
                    </li>

                    <li class="my-5">
                        <span class="font-bold">
                            Протягом першої фази Програми ми допомагаємо родинам в Україні,
                            які належать до однієї з двох груп
                        </span>
                        <ul>
                            <li class="mb-0">
                                мають троє і більше дітей до 18 років,
                                з яких принаймні одна дитина не досягла двох років;
                            </li>
                            <li class="mb-0">
                                мають двоє і більше дітей до 18 років, з яких принаймні одна дитина з інвалідністю.
                            </li>
                        </ul>
                    </li>
                    <li class="mb-5">
                        Прийомні батьки/батьки вихователі також можуть подавати заявку на отримання допомоги, якщо
                        відповідають даним критеріям
                    </li>

                    <li class="mb-5">
                        У майбутньому перелік вимог до учасників може бути змінений, а перелік категорій — розширений.

                    </li>
                    <li class="mb-5 font-bold">
                        Щоб отримати допомогу, необхідно заповнити анкету на цьому сайті та надіслати її, дотримуючись
                        інструкцій.
                    </li>
                    <li class="mb-5">
                        Рішення про створення заявки є добровільним, а надана інформація залишається конфіденційною.
                    </li>
                    <li class="mb-5">
                        Ваша заявка буде розглянута фахівцями ЮНІСЕФ та його партнерами щодо її відповідності критеріям
                        Програми. На основі цих даних буде ухвалене рішення щодо надання допомоги. Вам повідомлять
                        рішення СМС.
                    </li>
                    <li class="mb-5">

                        <span class="font-bold">Якщо ви відповідаєте критеріям Програми,</span> вам буде нараховано
                        тримісячну допомогу в розмірі 2 220 грн на кожного, але не більше як на п’ятьох членів
                        домогосподарства. Наприклад, якщо у вашому домогосподарстві четверо, то, виходячи з розрахунку 2
                        220 грн х 4 особи х 3 місяці, ви отримаєте 26 640 грн. Або якщо вас п’ятеро чи більше, то,
                        виходячи з розрахунку 2 220 грн х 5 осіб х 3 місяці, ви отримаєте 33 300 грн. Цю суму ви
                        отримаєте єдиним банківським переказом.

                        {#                        <span class="font-bold">Якщо ви відповідаєте критеріям Програми</span>, вам буде нараховано#}
                        {#                        тримісячну допомогу в розмірі 2 200 грн на кожного, але не більше як на п’ятьох членів сім’ї.#}
                        {#                        Наприклад, якщо вас четверо, то,#}
                        {#                        виходячи з розрахунку 2 200 грн х 4 особи х 3 місяці, ви отримаєте 26 400 грн. Цю суму ви#}
                        {#                        отримаєте єдиним банківським переказом.#}
                    </li>

                    <li class="mb-5">
                        Переказ грошової допомоги здійснюватиметься на вказаний вами банківський рахунок
                        <span class="font-bold">протягом 4 тижнів</span> з моменту подання заявки. Сім’ї, які не мають
                        банківського рахунку чи доступу до нього,
                        отримають оплату в альтернативний спосіб. Дізнайтесь як тут:
                        <a href="https://unicef.org/ukraine/spilno-cash-transfers">https://unicef.org/ukraine/spilno-cash-transfers</a>
                    </li>

                    <li class="mb-5">Надаючи важливу персональну інформацію, наприклад, дані документів або номер
                        банківського рахунку, переконайтеся в точності даних. Помилка у відомостях може спричинити
                        затримку виплати.
                    </li>

                    <li class="mb-5">У подальшому з вами можуть сконтактувати для зворотного зв’язку щодо ефективності
                        допомоги.
                    </li>

                    <li class="mt-5">

                        <div class="font-bold">Детальніше на</div>
                        <a href="https://unicef.org/ukraine/spilno-cash-transfers">https://unicef.org/ukraine/spilno-cash-transfers</a>
                        <div class="font-bold">Гаряча лінія Спільно 0 800 600 017 (безоплатно, працює щодня з 8:00 до 22:00)
                        </div>

                    </li>
                </ul>

                <div class="my-5 text-justify">
                    <div class="intro text-xs">
                        <h1>Надання згоди на обробку персональних даних</h1>
                        <p>Для обробки заявки нам потрібна лише та інформація, що полегшить доступ до можливої
                            гуманітарної допомоги для вашої сім’ї. Зібрані дані також можуть бути використані ЮНІСЕФ для
                            моніторингу та звітності щодо якості послуг.</p>
                        <p>Якщо ви не надасте згоду на обробку персональних даних, реєстрація на сторінці буде
                            неможливою. Дізнайтесь про додаткові можливості від ЮНІСЕФ та партнерів:
                            www.unicef.org/ukraine</p>
                        <p>Ваші відповіді на запитання, так само як персональні дані та фото можуть бути надані іншій
                            гуманітарній організації для оцінки чи надання допомоги відповідно до вашого бажання.</p>
                        <p>ЮНІСЕФ може зберігати ваші персональні дані максимум протягом 5 років з часу їхнього
                            останнього використання.</p>
                        <p>Для участі в програмі зауважте визначення терміну 'домогосподарство'. </p>
                        <p>Домогосподарство складається з особи або групи пов'язаних або непов'язаних осіб, які:</p>
                        <ul>
                            <li>мешкають разом в одному приміщенні</li>
                            <li>дотримуються спільних правил проживання</li>
                            <li>визнають одну і ту саму особу головою домогосподарства</li>
                            <li>разом харчуються</li>
                        </ul>
                        <p>Подаючи заявку на допомогу, виходьте з перелічених критеріїв і вказуйте в анкеті лише тих
                            осіб, які належать до вашого домогосподарства.</p>
                        <p>Якщо ви поділяєте спільний простір з іншим домогосподарством, попросіть його представника
                            зареєструватися окремо.</p>
                        <p>БУДЬ ЛАСКА, НАДАВАЙТЕ ІНФОРМАЦІЮ ПРО КОЖНОГО ЧЛЕНА ДОМОГОСПОДАРСТВА ОКРЕМО.</p>
                        <p>Натискаючи кнопку «Згода та реєстрація», ви погоджуєтеся, що ваші персональні дані
                            зберігатимуться ЮНІСЕФ, можуть передаватися партнерам організації з приватного сектора для
                            здійснення виплат, а також Міністерству соціального захисту України та гуманітарним
                            партнерам тощо для уникнення дублювання допомоги. </p>
                        <p>Натискаючи кнопку “Згода отримувати інформаційні повідомлення”, ви погоджуєтесь отримувати
                            додаткові інформаційні матеріали про програми ЮНІСЕФ.</p>
                    </div>
                </div>
                <div class="flex space-x-2 m-5 px-10">
                    {% for reg in buttons %}
                        {% link reg %}
                    {% endfor %}
                </div>
            </div>
            <div class="w-1/3 flex-col mx-auto">
                {#                <img class="object-cover self-center object-center rounded" alt="logo"#}
                {#                     style="height: 300px"#}
                {#                     src="{% static "unicef_ukraine_logo.jpg" %}">#}
                <img class="mt-10 object-cover self-top object-top rounded"
                     style="width: 400px;"
                     alt="logo"
                     src="{% static "ukr_logo.webp" %}">
            </div>
        </div>
    </section>
{% endblock body %}
