{% extends "base.html" %}{% load static smart_register itrans %}
{% block header %}{% endblock %}
{% block body %}
    <section class="text-gray-700 body-font landing">
        <div class="container mx-auto flex px-5 py-6 lg:py-24 flex-col-reverse lg:flex-row tems-center">
            <div class="lg:flex-grow w-full lg:w-1/2 lg:pr-24 lg:pr-16 flex flex-col md:items-start sm:text-center lg:text-left text-center mb-16 md:mb-0 items-center ">
                <div class="title-font text-2xl mb-4 font-medium text-gray-900">
                    Програма грошової допомоги від ЮНІСЕФ Спільно
                </div>
                <ul class="text-justify intro">
                    <li class="mb-5">Вітаємо! Ви на сторінці нової програми <strong>грошової допомоги від ЮНІСЕФ
                        «Спільно».</strong></li>
                    <li>Зверніть увагу! Реєстрація на програму грошової допомоги “Спільно” від ЮНІСЕФ буде призупинена о
                        23:00, 14 серпня. Інформація щодо подальшої реєстрації буде доступна пізніше.
                    </li>
                    <li>Це необхідно для опрацювання заявок та виплати родинам, які відповідають критеріям програми,
                        подали заявки після 15 червня і ще не отримали допомогу.
                    </li>
                    <li>Станом на 10 серпня, ЮНІСЕФ надав допомогу понад 112 000 родинам, які виховують 331 000 дітей,
                        зокрема 33 000 дітей з інвалідністю.
                    </li>
                    <li>Загалом, ЮНІСЕФ допоможе до 265 000 родинам в межах програми грошової допомоги.</li>


                    <li class="my-5">
                        <span class="font-bold">
                            Участь у програмі можуть взяти родини, що належать до однієї з двох категорій:
                        </span>
                        <ol class="list-decimal list-inside	">
                            <li class="mb-0">
                                Мають трьох і більше дітей до 18 років;
                            </li>
                            <li class="mb-0">
                                Мають принаймні одну дитину з інвалідністю до 18 років.
                            </li>
                        </ol>
                    </li>
                    <li class="mb-5">
                        Допомога надається сім’ям незалежно від наявності чи відсутності статусу ВПО,
                        які перебувають у будь-якому регіоні України, але за умови, що вони не отримували
                        грошової допомоги від іншої міжнародної гуманітарної організації з 24 лютого 2022 року.
                    </li>

                    <li class="mb-5">
                        Родини, що відповідають критеріям програми, отримають грошову допомогу з розрахунку
                        2 220 грн/міс. на кожного члена домогосподарства, але не більше як на п’ятьох осіб.
                        Допомога виплачується на банківський рахунок одноразово за три місяці.
                    </li>
                    <li class="mb-5 font-bold">
                        Детальніше на
                        <a class="font-bold" href="https://unicef.org/ukraine/spilno-cash-transfers">https://unicef.org/ukraine/spilno-cash-transfers</a>
                        або за номером гарячої лінії “Спільно” 0 800 600 017 (щодня з 8:00 до 22:00, безоплатно).
                    </li>
                    <li class="mb-5">
                        Для участі в програмі грошової допомоги необхідно подати заявку, вказавши всю необхідну
                        інформацію про вашу родину. Заповнення форми не означає, що ви отримаєте допомогу автоматично,
                        адже дані  буде перевірено на відповідність критеріям.
                    </li>
                    <li class="mb-5">
                        ЮНІСЕФ може зателефонувати вам для перевірки чи уточнення інформації.
                        Проте ЮНІСЕФ ніколи не просить надіслати копії ідентифікаційних
                        документів у месенджер чи на пошту.
                    </li>
                    <li class="mb-5">
                        <span class="font-bold">Після реєстрації заявки проходять два етапи перевірки:</span>
                        <ul>
                            <li><span class="font-bold">Технічний відбір.</span>
                                <div>Це перевірка наявності всіх обов’язкових даних і відсутності в них помилок. Якщо документи пройшли технічний відбір, голова домогосподарства отримує СМС. Повідомлення надходить на номер, вказаний у заявці. Технічна перевірка займає до двох тижнів.</div>
                            </li>

                            <li><span class="font-bold">Відбір на відповідність критеріям програми.</span>
                                <div>Якщо ваша родина відповідає критеріям програми і ще не отримала допомоги від жодної іншої міжнародної гуманітарної організації, вам буде нараховано кошти. Після грошового переказу надходить СМС для підтвердження отримання платежу.</div>
                            </li>
                        </ul>
                     </li>

                    <li class="mb-5">
                        ЮНІСЕФ надсилає СМС із з короткого номеру 4224.
                    </li>

                    <li class="mb-5">
                        Важливо! Не подавайте заявки кілька разів. Це збільшує витрати часу на технічну перевірку,
                        перевірку на відповідність критеріям програми та спричиняє затримку виплат для родин,
                        які відповідають критеріям програми.
                    </li>

                    <li class="mb-5">
                        Перед подачею заявки, будь ласка, ознайомтеся з критеріями програми та перегляньте інструкцію
                        щодо заповнення заявки тут: <a class="font-bold text-blue-800" href="https://youtu.be/R1_04Fo2vHU">https://youtu.be/R1_04Fo2vHU</a>
                    </li>
                    <li class="mb-5">
                        Програма грошової допомоги «Спільно» від ЮНІСЕФ стала можливою завдяки фінансуванню
                        Європейського Союзу, уряду Італії, Шведської агенції міжнародного розвитку SIDA та
                        Центрального фонду реагування на надзвичайні ситуації CERF.
                    </li>
                    <img src="{% static "donors.png" %}">
                    <li class="mt-5">

                        <div class="font-bold">Важливо</div>
                        <ol  class="list-decimal">
                            <li>
                                Для обробки заявки нам потрібна лише та інформація, що дозволяє зробити висновок щодо відповідності вашої родини критеріям програмі. Зібрані дані також можуть бути використані ЮНІСЕФ для моніторингу та звітності щодо якості послуг
                            </li>
                            <li>
                                Якщо ви не надасте згоду на обробку персональних даних, реєстрація на сторінці буде неможливою. Дізнайтеся про додаткові можливості від ЮНІСЕФ та партнерів unicef.org/ukraine/spilno-cash-transfers.
                            </li>
                            <li>
                                Ваші відповіді на запитання, так само як персональні дані та фото, можуть бути надані іншій гуманітарній організації для оцінки чи надання допомоги відповідно до вашого бажання.
                            </li>
                            <li>
                                ЮНІСЕФ може зберігати ваші персональні дані максимум протягом 5 років з часу їхнього останнього використання.
                            </li>
                            <li>
                                Для участі в програмі зауважте визначення терміну “домогосподарство”.  Домогосподарство складається з особи або групи пов'язаних або непов'язаних осіб, які: (1) мешкають разом в одному приміщенні; (2) дотримуються спільних правил проживання; (3) визнають одну і ту саму особу головою домогосподарства; (4) разом харчуються. Подаючи заявку на допомогу, виходьте з перелічених критеріїв і вказуйте в анкеті лише тих осіб, які належать до вашого домогосподарства. Якщо ви поділяєте спільний простір з іншим домогосподарством, попросіть його представника зареєструватися окремо.
                            </li>
                            <li>
                                Натискаючи кнопку «Згода та реєстрація», ви погоджуєтеся, що ваші персональні дані зберігатимуться ЮНІСЕФ, можуть передаватися партнерам організації з приватного сектора для здійснення виплат, а також Міністерству соціального захисту України та гуманітарним партнерам тощо для уникнення дублювання допомоги
                            </li>
                            <li>
                                Натискаючи кнопку “Згода отримувати інформаційні повідомлення”, ви погоджуєтесь отримувати додаткові інформаційні матеріали про програми ЮНІСЕФ
                            </li>
                        </ol>

                    </li>
                </ul>
                <div class="flex space-x-2 m-5 px-10 hp-buttons">
                    {% for reg in registrations %}
                        <form method="post" action="{% url "registration-router" %}">
                            <input type="hidden" name="slug" value="{{ reg.slug }}">
                            {% with reg.title as ttt %}
                            <input
                                    class="button text-white border-0 py-4 px-8 rounded text-center text-2xl"
                            type="submit" value="{% trans ttt %}">
                        {% endwith %}
                        </form>
{#                        {% link reg %}#}
                    {% endfor %}
                </div>
            </div>
            <div class="w-1/3 flex-col mx-auto">
                {#                <img class="object-cover self-center object-center rounded" alt="logo"#}
                {#                     style="height: 300px"#}
                {#                     src="{% static "unicef_ukraine_logo.jpg" %}">#}
                <img class="mt-10 object-cover self-top object-top rounded"
                     width="400" height="286"
                     alt="logo"
                     src="{% static "ukr_logo.webp" %}">
            </div>
        </div>
    </section>
{% endblock body %}
