{% extends config.BASE_TEMPLATE %}{% load static smart_register %}
{% block header %}{% endblock %}
{% block body %}
    <section class="text-gray-700 body-font landing">
        <div class="container mx-auto flex px-5 py-6 lg:py-24 flex-col-reverse lg:flex-row tems-center">
            <div class="lg:flex-grow w-full lg:w-1/2 lg:pr-24 lg:pr-16 flex flex-col md:items-start sm:text-center lg:text-left text-center mb-16 md:mb-0 items-center ">
                <div class="title-font text-2xl mb-4 font-medium text-gray-900">
                    Humanitarian Assistance to Families with Children
                </div>
                <ul class="text-justify intro">
                    <li class="mb-5">Вітаємо! Ви на сторінці нової програми <strong>грошової допомоги від ЮНІСЕФ
                        «Спільно».</strong></li>

                    <li>ЮНІСЕФ і партнери запустили цю програму, щоб додатково підтримати українців, постраждалих через
                        війну.
                    </li>

                    <li class="mb-5">Протягом першої фази Програми ми допомагаємо родинам в Україні, які належать до
                        однієї з двох
                        категорій:
                        <ul>
                            <li class="mb-0">мають трьох і більше дітей до 18 років, з яких принаймні одна дитина не
                                досягла двох
                                років;
                            </li>
                            <li class="mb-0">мають двох і більше дітей до 18 років, яких виховує та утримує тільки одна
                                людина, яка є
                                офіційним представником дітей. мати або тільки батько.
                            </li>
                        </ul>
                    </li>
                    <li class="mb-5">Прийомні батьки/батьки вихователі також можуть подавати заявку на отримання
                        допомоги, якщо
                        відповідають даним критеріям.
                    </li>

                    <li class="mb-5">У майбутньому перелік вимог до учасників може бути змінений, а перелік категорій —
                        розширений.
                    </li>
                    <li class="mb-5">Щоб отримати допомогу, необхідно заповнити анкету на цьому сайті та надіслати її,
                        дотримуючись
                        інструкцій.
                    </li>
                    <li class="mb-5">Рішення про створення заявки є добровільним, а надана інформація залишається
                        конфіденційною.
                    </li>
                    <li class="mb-5">Ваша заявка буде розглянута фахівцями ЮНІСЕФ та його партнерами щодо її
                        відповідності критеріям
                        Програми. На основі цих даних буде ухвалене рішення щодо надання допомоги. Вам повідомлять
                        рішення СМС.
                    </li>
                    <li class="mb-5">Якщо ви відповідаєте критеріям Програми, вам буде нараховано тримісячну допомогу в
                        розмірі 2 200 грн на кожного, але не більше як на п’ятьох членів сім’ї. Наприклад, якщо вас
                        четверо, то, виходячи з розрахунку 2 200 грн х 4 особи х 3 місяці, ви отримаєте 26 400 грн. Цю
                        суму ви отримаєте єдиним банківським переказом.
                    </li>

                    <li class="mb-5">Переказ грошової допомоги здійснюватиметься на вказаний вами банківський рахунок
                        протягом 3-4 тижнів з моменту подання заявки. Сім’ї, які не мають банківського рахунку чи
                        доступу до нього, отримають оплату в альтернативний спосіб. Дізнайтесь як тут:
                        <a href="https://unicef.org/ukraine/spilno-cash-transfers">https://unicef.org/ukraine/spilno-cash-transfers</a>
                    </li>

                    <li class="mb-5">Надаючи важливу персональну інформацію, наприклад, дані документів або номер
                        банківського рахунку, переконайтеся в точності даних. Помилка у відомостях може спричинити
                        затримку виплати.
                    </li>

                    <li class="mb-5">У подальшому з вами можуть сконтактувати для зворотного зв’язку щодо ефективності
                        допомоги.
                    </li>

                    <li class="mt-5">

                        <div>Детальніше на</div>
                        <a href="https://unicef.org/ukraine/spilno-cash-transfers">https://unicef.org/ukraine/spilno-cash-transfers</a>
                        <div>Гаряча лінія Спільно</div>

                    </li>
                </ul>
                <div class="my-5 font-bold text-justify">

                </div>
                <div class="flex space-x-2 m-5 px-10">
                    {% for reg in buttons %}
                        {% link reg %}
                    {% endfor %}
                </div>
            </div>
            {#            <div class="lg:max-w-lg flex-col justify-center sm:flex w-4/5 w-full w-full">#}
            <div class="w-1/4 flex-col">
                <img class="object-cover self-top object-top rounded" alt="logo"
                     src="{% static "unicef_ukraine_logo.jpg" %}">
            </div>
        </div>
    </section>
{% endblock body %}
