#iframe-container {
  display: block;
  overflow: auto;
  resize: vertical;
  height: 200px;
  iframe {
    height: 100%;
    border: 0 transparent;
  }
}
table{
  width: 100%;
  tr{
    th{
      min-height: 200px;
    }
    td{
      width: 100%;
      input, select{
        width: 100%;
      }
    }
  }
}
.toolbar{
  margin: 10px;
  label{
    margin-right: 10px;
    cursor: pointer;
  }
}
