body {
  height: 100px;
}

#fieldEditor {
  height: 100%;
  position: relative;
  top: 0;
  background-color: var(--body-bg);
  z-index: 10;
  //}

  .submit-row {
    width: 100%;

    div:first-child {
      float: left;
    }

    input {
      background-color: cornflowerblue;
    }
  }

  #mainPanel {
    top: 0;
    display: inline-flex;
    width: 100%;
    height: 100%;

    .panel {
      display: inline-block;
      height: 500px;

      &:first-child {
        margin-right: 10px;
      }
    }

    .output {
      position: sticky;
      top: 40px;
      width: 40%;

      iframe {
        width: 100%;
        height: 100%;
        border: 0 transparent;
        display: none;
      }
    }

    .settings {
      overflow-y: scroll;
      width: 60%;

      table:first-child {
        width: 100%;
        margin: 0;
        padding: 0;
        border-collapse: separate; /* Don't collapse */
        border-spacing: 0;
        border: 1px solid grey;

        thead {
          background-color: var(--body-bg);

          tr.tabs {
            width: 100%;
            padding: 0;
            margin-top: 5px;
            margin-bottom: 0;

            th {
              text-transform: capitalize;
              font-weight: normal;
              font-size: 90%;
              text-align: center;
              border: 1px solid grey;
              cursor: pointer;
              background-color: var(--body-bg);
              position: sticky;
              z-index: 6;
              top: 0;

              &.selected {
                background: var(--breadcrumbs-bg);
                border-bottom: none;
              }
            }
          }
        }

        .cfg-form {
          width: 100%;

          th {

          }

          td {
            text-align: left;
            align-content: flex-start;
            padding-right: 5px;

            input:not([type=checkbox]), textarea {
              width: 97%;
            }

            select {
              width: 100%;
            }

          }

          &.collapsed {
            display: none;
          }
        }
      }

    }
  }
}

//
//#iframe-container {
//  display: block;
//  overflow: auto;
//  resize: vertical;
//  height: 400px;
//
//  iframe {
//    height: 100%;
//    border: 0 transparent;
//  }
//}

.field-error {
  color: red;
  margin-bottom: 3px;
}

//
//table#tabs {
//  width: 100%;
//  padding: 0;
//  margin-top: 5px;
//  margin-bottom: 0;
//
//  th {
//    border-top: 1px solid grey;
//    border-right: 1px solid grey;
//    border-left: 1px solid grey;
//    cursor: pointer;
//
//    &.selected {
//      background: var(--breadcrumbs-bg);
//    }
//  }
//}

table2 {
  width: 100%;
  padding: 0;
  margin: 0;

  &.cfg-form {
    margin-bottom: 5px;
    border-left: 1px solid grey;
    padding: 0;
    margin: 0;
  }

  tr {
    display: table-row;

    th {
      min-height: 200px;
    }

    td {
      width: 100%;
      padding-left: 0;

      input, select, textarea {
        width: 100%;
      }
    }
  }

}

.toolbar {
  margin: 10px;

  label {
    margin-right: 10px;
    cursor: pointer;
  }
}

.cm-container {
  margin: 10px;
  background-color: var(--body-bg);
  width: 100%;

  .cm-toolbar {
    a.toolbutton {
      margin: 0 3px 0 0;
      padding: 5px;
      font-variant: none;
    }
  }
}
