{% extends "admin_extra_buttons/action_page.html" %}{% load static %}
{% block extrastyle %}{{ block.super }}
    <script type="text/javascript" src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
{% endblock %}

{% block action-content %}
    <style>
        iframe{
            min-height: 600px;
            width: 100%;
            border: none;
        }
    </style>
    <iframe src="{% url "admin:dbtemplates_template_xrender" original.pk %}">

    </iframe>
{% endblock %}
