{% load i18n %}
<h3>{% blocktrans with title as filter_title %} By {{ filter_title }} {% endblocktrans %}</h3>
<ul style="width: 240px;">
    <select style="width: 100%  ;" id="filter-{{ spec.field.name }}" onchange="location.href=this.options[selectedIndex].value">
        {% for choice in choices %}
            <option{% if choice.selected %} selected="selected"{% endif %}
                                            value="{{ choice.query_string|iriencode }}">{{ choice.display }}</option>
        {% endfor %}
    </select>
</ul>
<script>
    django.jQuery('#filter-{{ spec.field.name }}').select2();
</script>
