{% extends "admin_extra_buttons/action_page.html" %}
{% block extrahead %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/css/select2.min.css">
    <script src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script src="/static/admin/js/jquery.init.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.0.0/chartjs-plugin-datalabels.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

{% endblock %}

{% block action-content %}
    {% if registration %}
        <div style="margin-bottom: 50px;">
            <button class="btn button" id="prev"> <<</button>
            <button class="btn button" id="next"> >></button>
        </div>
        <div class="chart-container" style="position: relative;width: 1029px; height: 250px;margin-bottom: 30px;">
            <canvas id="myChart" style="width: 1020px;height: 100%"></canvas>
        </div>
    {% else %}
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit">
        </form>
    {% endif %}
{% endblock action-content %}
    {% block document_ready %}
        {% if registration %}
        <script>
            (function ($) {
                Chart.register(ChartDataLabels);

                var m = moment();
                var currentDay = m.format("YYYY-MM-DD");
                var ctx = document.getElementById("myChart");

                var baseUrl = "{% url "admin:counters_counter_data" registration.pk %}";
                var config = {
                    type: "bar",
                    options: {
                        responsive: false,
                        layout: {
                            padding: 0
                        },
                        plugins: {
                            datalabels: {
                                anchor: "center",
                                align: "center",
                                formatter: Math.round,
                                padding: 10,
                                rotation: 0,
                                font: {
                                    weight: "bold"
                                },
                            },
                            title: {
                                display: true,
                                text: "Registrations"
                            },
                            legend: {
                                display: false,
                            }
                        }
                    },
                    data: {
                        labels: [],
                        datasets: [{
                            label: "-----",
                            data: [],
                            backgroundColor: "#2861c555",
                            borderColor: "#2861c5",
                            borderWidth: 1
                        }]
                    }
                };
                var myChart = new Chart(ctx, config);

                ctx.onclick = function(evt) {
                    var points = myChart.getElementsAtEventForMode(evt, 'nearest', { intersect: true }, true);
                    if (points.length) {
                        const firstPoint = points[0];
                        const label = myChart.data.labels[firstPoint.index];
                        const slabel = myChart.data.datasets[firstPoint.datasetIndex].label;
                        const value = myChart.data.datasets[firstPoint.datasetIndex].data[firstPoint.index];
                        console.log(label, slabel, value, (firstPoint.index+1));
                    }
                };

                ajax_chart({});

                function ajax_chart(params) {
                    params.rnd = Math.random();
                    var qs = new URLSearchParams(params).toString();
                    $.getJSON(baseUrl + "?" + qs).done(function (response) {
                        myChart.data.labels = response.labels;
                        myChart.data.datasets[0].data = response.data;
                        myChart.options.plugins.title.text = response.label + " - Total Registrations: " + response.total.toLocaleString();
                        myChart.update(); // finally update our chart
                        console.log(response.data);
                        currentDay = moment(response.day, "YYYY-MM-DD").format("YYYY-MM-DD");
                    });
                }

                $("#prev").on("click", function (e) {
                    var data;
                    currentDay = moment(currentDay).subtract(1, "months").format("YYYY-MM-DD");
                    data = {m: currentDay};
                    ajax_chart(data);
                });
                $("#next").on("click", function (e) {
                    var data;
                    currentDay = moment(currentDay).add(1, "months").format("YYYY-MM-DD");
                    data = {m: currentDay};
                    ajax_chart(data);
                });
            })(django.jQuery);
        </script>

        {% endif %}
    {% endblock %}
